<h1>
<center>
Module 5: Bias-Variance and Cross-Validation
</center>
</h1>
<div class=h1_cell>

You will be working with the loan table again.

</div>

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
with open('/content/gdrive/My Drive/class_tables/loan_wrangled_week3.csv', 'r') as f:
  loan_table = pd.read_csv(f)

loan_table.head()  #make sure it looks ok - we see the results of our week 2 wrangling

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,...,lam_Average,lam_High,ch_bad,ch_good,ch_nan,apin_binned,apin_low,apin_average,apin_high,apin_nan
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,...,0,0,0,1,0,low,1,0,0,0
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,...,0,0,0,1,0,low,1,0,0,0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,...,0,0,0,1,0,low,1,0,0,0
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,...,0,0,0,1,0,low,1,0,0,0
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,...,0,0,0,1,0,low,1,0,0,0

In [0]:
pd.set_option('display.max_columns', None)

<h2>A couple of notes</h2>
I added points to assignments to give you an idea of how much of a challenge I think they are. Let me know if I am off base.
<p>
  Don't load your library yet. Finish problem 1 before importing your library.

<hr>
<h1>
1: Fix our scoring functions (30 points)
</h1>
<p>
<div class=h1_cell>
<p>
As we defined our scoring functions in week 2, they all assume that the 4 cases have values greater than 0. But this week we will see that is not always the case. And hence you will get an error like this if you try using the scoring functions as is:
  <pre>
  KeyError: 'false_negative'
  </pre>
<p>
What this means is that there were no false negatives found so the key is also not found. You would find the problem in a statement like this:
  <pre>
  fn = cases['false_negative']  #key does not exist because no false negatives
  </pre>
  Your task is to fix up the 3 scoring functions so they handle cases like this. And while you are at it, make sure you never divide by 0. Once you have them working, you can add them to your library for this week. I give you some test cases to code against.
  <p>
 Important: do not import your library before (a) you have all functions below working correctly, and (b) you have replaced the old functions in your library with the new ones.
</div>

In [4]:
x = pd.Series({'true_negative':2, 'false_positive':3, 'false_negative':4})
print('true_positive' in x)

False

In [0]:
def accuracy(cases):
  tp = 0
  if 'true_positive' in cases:
    tp = cases['true_positive']
  tn = 0
  if 'true_negative' in cases:
    tn = cases['true_negative']
  fp = 0
  if 'false_positive' in cases:
    fp = cases['false_positive']
  fn = 0
  if 'false_negative' in cases:
    fn = cases['false_negative']
  if (tp + tn + fp + fn) == 0:
    return 0
  else:
    return (tp + tn)/(tp+tn+fp+fn)

In [6]:
#test

print(('should be 0', accuracy(pd.Series({}))))
print(('should be 0.3', accuracy(pd.Series({'true_positive':1, 'true_negative':2, 'false_positive':3, 'false_negative':4}))))
print(('should be 0.2', accuracy(pd.Series({'true_negative':2, 'false_positive':3, 'false_negative':4}))))

('should be 0', 0)
('should be 0.3', 0.3)
('should be 0.2', 0.2222222222222222)

In [0]:
def f1(cases):
  #the heart of the matrix
  tp = 0
  if 'true_positive' in cases:
    tp = cases['true_positive']
  tn = 0
  if 'true_negative' in cases:
    tn = cases['true_negative']
  fp = 0
  if 'false_positive' in cases:
    fp = cases['false_positive']
  fn = 0
  if 'false_negative' in cases:
    fn = cases['false_negative']
	
	#other measures we can derive
  if (((tp+fn) == 0) or ((tp+fp) == 0)):
    return 0
  else:
    recall = 1.0*tp/(tp+fn)
    precision = 1.0*tp/(tp+fp)
	
	#now for the one we want
  if ((recall == 0) or (precision == 0)):
    return 0
  else:
	   f1 = 2/(1/recall + 1/precision)
	
  return f1

In [8]:
#test

print(('should be 0', f1(pd.Series({}))))
print(('should be 0.2', f1(pd.Series({'true_positive':1, 'true_negative':2, 'false_positive':3, 'false_negative':4}))))
print(('should be 0', f1(pd.Series({'true_negative':2, 'false_positive':3, 'false_negative':4}))))

('should be 0', 0)
('should be 0.2', 0.2222222222222222)
('should be 0', 0)

In [0]:
def informedness(cases):
  tp = 0
  if 'true_positive' in cases:
    tp = cases['true_positive']
  tn = 0
  if 'true_negative' in cases:
    tn = cases['true_negative']
  fp = 0
  if 'false_positive' in cases:
    fp = cases['false_positive']
  fn = 0
  if 'false_negative' in cases:
    fn = cases['false_negative']
  if (((tp+fn) == 0) or ((tn+fp) == 0)):
    recall = 0
    specificity = 0
  else:
    recall = 1.0*tp/(tp+fn)
    specificity = 1.0*tn/(tn+fp)
  J = (recall + specificity) - 1
    
  return J

In [10]:
#test

print(('should be -1', informedness(pd.Series({}))))
print(('should be -0.39', informedness(pd.Series({'true_positive':1, 'true_negative':2, 'false_positive':3, 'false_negative':4}))))
print(('should be -0.6', informedness(pd.Series({'true_negative':2, 'false_positive':3, 'false_negative':4}))))

('should be -1', -1)
('should be -0.39', -0.3999999999999999)
('should be -0.6', -0.6)

<h1>Ok, now update your library</h1>
When you have done that, you are ready to import.
<p>
  <b>Important note</b>: you may be tempted to skip the step of updating your library before importing. Why do that when you already have the new functions defined above? We are back to that static-scope thing. Your notebook context (namespace) can see your library functions but your library functions cannot see your notebook functions. The library has its own namespace. In summary, `produce_scores` will not see your functions above. Instead it will see the functions in your library. And if you don't update your library, you will be using your old, broken versions. And it does not matter if you import first then define new functions in the notebook. Your notebook functions still will not override your library functions. Whew. So go update your library!

In [11]:
!rm library_w19_week5.py

rm: cannot remove 'library_w19_week5.py': No such file or directory

In [12]:
from google.colab import files
files.upload()

Saving library_w19_week5.py to library_w19_week5.py

{'library_w19_week5.py': b'import pandas as pd\r\nimport numpy as np\r\nfrom functools import reduce\r\nfrom types import SimpleNamespace\r\n\r\ndef predictor_case(row, pred, target):\r\n  case_dict = {(0,0): \'true_negative\', (1,1): \'true_positive\', (0,1): \'false_negative\', (1,0): \'false_positive\'}\r\n  actual = row[target]\r\n  prediction = row[pred]\r\n  case = case_dict[(prediction, actual)]\r\n  return case\r\n\r\ndef informedness(cases):\r\n  tp = 0\r\n  if \'true_positive\' in cases:\r\n    tp = cases[\'true_positive\']\r\n  tn = 0\r\n  if \'true_negative\' in cases:\r\n    tn = cases[\'true_negative\']\r\n  fp = 0\r\n  if \'false_positive\' in cases:\r\n    fp = cases[\'false_positive\']\r\n  fn = 0\r\n  if \'false_negative\' in cases:\r\n    fn = cases[\'false_negative\']\r\n  if (((tp+fn) == 0) or ((tn+fp) == 0)):\r\n    return -1\r\n  else:\r\n    recall = 1.0*tp/(tp+fn)\r\n    specificity = 1.0*tn/(tn+fp)\r\n    J = (recall + specificity) - 1\r\n    \r\n  return J\r\n\r\ndef accuracy(cases):\r\n  tp = 0\r\n  if \'true_positive\' in cases:\r\n    tp = cases[\'true_positive\']\r\n  tn = 0\r\n  if \'true_negative\' in cases:\r\n    tn = cases[\'true_negative\']\r\n  fp = 0\r\n  if \'false_positive\' in cases:\r\n    fp = cases[\'false_positive\']\r\n  fn = 0\r\n  if \'false_negative\' in cases:\r\n    fn = cases[\'false_negative\']\r\n  if (tp + tn + fp + fn) == 0:\r\n    return 0\r\n  else:\r\n    return (tp + tn)/(tp+tn+fp+fn)\r\n\r\ndef f1(cases):\r\n  #the heart of the matrix\r\n  tp = 0\r\n  if \'true_positive\' in cases:\r\n    tp = cases[\'true_positive\']\r\n  tn = 0\r\n  if \'true_negative\' in cases:\r\n    tn = cases[\'true_negative\']\r\n  fp = 0\r\n  if \'false_positive\' in cases:\r\n    fp = cases[\'false_positive\']\r\n  fn = 0\r\n  if \'false_negative\' in cases:\r\n    fn = cases[\'false_negative\']\r\n\t\r\n\t#other measures we can derive\r\n  if (((tp+fn) == 0) or ((tp+fp) == 0)):\r\n    return 0\r\n  else:\r\n    recall = 1.0*tp/(tp+fn)\r\n    precision = 1.0*tp/(tp+fp)\r\n\t\r\n\t#now for the one we want\r\n  if ((recall == 0) or (precision == 0)):\r\n    return 0\r\n  else:\r\n\t   f1 = 2/(1/recall + 1/precision)\r\n\t\r\n  return f1\r\n\r\ndef gig(starting_table, split_column, target_column):\r\n    \r\n    #split into two branches, i.e., two sub-tables\r\n    true_table = starting_table.loc[starting_table[split_column] == 1]\r\n    false_table = starting_table.loc[starting_table[split_column] == 0]\r\n    \r\n    #Now see how the target column is divided up in each sub-table (and the starting table)\r\n    true_counts = true_table[target_column].value_counts()  # Note using true_table and not starting_table\r\n    false_counts = false_table[target_column].value_counts()  # Note using false_table and not starting_table\r\n    starting_counts = starting_table[target_column].value_counts() \r\n    \r\n    #compute the gini impurity for the 3 tables\r\n    starting_gini = gini(starting_counts)\r\n    true_gini = gini(true_counts)\r\n    false_gini = gini(false_counts)\r\n\r\n    #compute the weights\r\n    starting_size = len(starting_table.index)\r\n    true_weight = 0.0 if starting_size == 0 else len(true_table.index)/starting_size\r\n    false_weight = 0.0 if starting_size == 0 else len(false_table.index)/starting_size\r\n    \r\n    #wrap it up and put on a bow\r\n    gig = starting_gini - (true_weight * true_gini + false_weight * false_gini)\r\n    \r\n    return gig\r\n\r\ndef gini(counts):\r\n    (p0,p1) = probabilities(counts)\r\n    sum_probs = p0**2 + p1**2\r\n    gini = 1 - sum_probs\r\n    return gini\r\n\r\ndef probabilities(counts):\r\n    count_0 = 0 if 0 not in counts else counts[0]  #could have no 0 values\r\n    count_1 = 0 if 1 not in counts else counts[1]\r\n    total = count_0 + count_1\r\n    probs = (0,0) if total == 0 else (count_0/total, count_1/total)  #build 2-tuple\r\n    return probs\r\n\r\ndef build_pred(column, branch):\r\n    return lambda row: row[column] == branch\r\n\r\ndef find_best_splitter(table, choice_list, target):\r\n  \r\n    assert (len(table)>0),"Cannot split empty table"\r\n    assert (target in table),"Target must be column in table"\r\n    \r\n    gig_scores = map(lambda col: (col, gig(table, col, target)), choice_list)  #compute tuple (col, gig) for each column\r\n    gig_sorted = sorted(gig_scores, key=lambda item: item[1], reverse=True)  # sort on gig\r\n    return gig_sorted\r\n\r\nfrom functools import reduce\r\n\r\ndef generate_table(table, conjunction):\r\n  \r\n    assert (len(table)>0),"Cannot generate from empty table"\r\n\r\n    sub_table = reduce(lambda subtable, pair: subtable.loc[pair[1]], conjunction, table)\r\n    return sub_table\r\n\r\ndef compute_prediction(table, target):\r\n  \r\n    assert (len(table)>0),"Cannot predict from empty table"\r\n    assert (target in table),"Target must be column in table"\r\n    \r\n    counts = table[target].value_counts()  # counts looks like {0: v1, 1: v2}\r\n\r\n    if 0 not in counts:\r\n        prediction = 1\r\n    elif 1 not in counts:\r\n        prediction = 0\r\n    elif counts[1] > counts[0]:  # ties go to 0 (negative)\r\n        prediction = 1\r\n    else:\r\n        prediction = 0\r\n\r\n    return prediction\r\n\r\ndef build_tree_iter(table, choices, target, hypers={} ):\r\n\r\n    assert (len(choices)>0),"Must have at least one column in choices"\r\n    assert (target in table), "Target column not in table"\r\n    assert (len(table) > 1), "Table must have more than 1 row"\r\n    \r\n    k = hypers[\'max-depth\'] if \'max-depth\' in hypers else min(4, len(choices))\r\n    gig_cutoff = hypers[\'gig-cutoff\'] if \'gig-cutoff\' in hypers else 0.0\r\n    \r\n    def iterative_build(k):\r\n        columns_sorted = find_best_splitter(table, choices, target)\r\n        (best_column, gig_value) = columns_sorted[0]\r\n        \r\n        #Note I add _1 or _0 to make it more readable for debugging\r\n        current_paths = [{\'conjunction\': [(best_column, build_pred(best_column, 1))],\r\n                          \'prediction\': None,\r\n                          \'gig_score\': gig_value},\r\n                         {\'conjunction\': [(best_column, build_pred(best_column, 0))],\r\n                          \'prediction\': None,\r\n                          \'gig_score\': gig_value}\r\n                        ]\r\n        k -= 1  # we just built a level as seed so subtract 1 from k\r\n        tree_paths = []  # add completed paths here\r\n        \r\n        while k>0:\r\n            new_paths = []\r\n            for path in current_paths:\r\n                old_conjunction = path[\'conjunction\']  # a list of (name, lambda)\r\n                before_table = generate_table(table, old_conjunction)  #the subtable the current conjunct leads to\r\n                columns_sorted = find_best_splitter(before_table, choices, target)\r\n                (best_column, gig_value) = columns_sorted[0]\r\n                if gig_value > gig_cutoff:\r\n                    new_path_1 = {\'conjunction\': old_conjunction + [(best_column, build_pred(best_column, 1))],\r\n                                \'prediction\': None,\r\n                                 \'gig_score\': gig_value}\r\n                    new_paths.append( new_path_1 ) #true\r\n                    new_path_0 = {\'conjunction\': old_conjunction + [(best_column, build_pred(best_column, 0))],\r\n                                \'prediction\': None,\r\n                                 \'gig_score\': gig_value}\r\n                    new_paths.append( new_path_0 ) #false\r\n                else:\r\n                    #not worth splitting so complete the path with a prediction\r\n                    path[\'prediction\'] = compute_prediction(before_table, target)\r\n                    tree_paths.append(path)\r\n            #end for loop\r\n            \r\n            current_paths = new_paths\r\n            if current_paths != []:\r\n                k -= 1\r\n            else:\r\n                break  # nothing left to extend so have copied all paths to tree_paths\r\n        #end while loop\r\n\r\n        #Generate predictions for all paths that have None\r\n        for path in current_paths:\r\n            conjunction = path[\'conjunction\']\r\n            before_table = generate_table(table, conjunction)\r\n            path[\'prediction\'] = compute_prediction(before_table, target)\r\n            tree_paths.append(path)\r\n        return tree_paths\r\n\r\n    return {\'paths\': iterative_build(k), \'weight\': None}\r\n\r\ndef tree_predictor(row, tree):\r\n    \r\n    #go through each path, one by one (could use a map instead of for loop?)\r\n    for path in tree[\'paths\']:\r\n        conjuncts = path[\'conjunction\']\r\n        result = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\r\n        if all(result):\r\n            return path[\'prediction\']\r\n    raise LookupError(\'No true paths found for row: \' + str(row))\r\n\r\ndef path_id(row, tree):\r\n\tassert (len(tree[\'paths\']) > 0)\r\n\tfor path in tree[\'paths\']:\r\n\t\tconjuncts = path[\'conjunction\']\r\n\t\tresult = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\r\n\t\tif all(result):\r\n\t  \t\treturn tree[\'paths\'].index(path)\r\n\r\ndef reorder_paths(table, tree):\r\n\tpath_count = table.apply(lambda row: path_id(row, tree), axis = 1)\r\n\tvalue = path_count.value_counts()\r\n\tpath = sorted(value.items(), key=lambda x: x[1], reverse=True)\r\n\tprint(path)\r\n\tnew_paths = []\r\n\tprev_path = tree3[\'paths\']\r\n\tfor a, b in plist3:\r\n\t\tprev = prev_path[a]\r\n\t\tnew_paths.append(prev)\r\n\treturn new_paths\r\n\r\ndef produce_scores(table, tree, target):\r\n    scratch_table = pd.DataFrame(columns=[\'prediction\', \'actual\'])\r\n    scratch_table[\'prediction\'] = table.apply(lambda row: tree_predictor(row, tree), axis=1)\r\n    scratch_table[\'actual\'] = table[target]  # just copy the target column\r\n    cases = scratch_table.apply(lambda row: predictor_case(row, pred=\'prediction\', target=\'actual\'), axis=1)\r\n    vc = cases.value_counts()\r\n    return [accuracy(vc), f1(vc), informedness(vc)]\r\n\r\ndef k_fold(table, k, target, hypers, candidate_columns):\r\n  \r\n    #set up the table where we will record fold results\r\n    result_columns = [\'name\',  \'accuracy\', \'f1\', \'informedness\']\r\n    k_fold_results_table = pd.DataFrame(columns=result_columns)\r\n    \r\n    #generate the slices\r\n    total_len = len(table.index)\r\n    slice_size = int(total_len/(1.0*k))\r\n    slices = []\r\n    for i in range(k-1):\r\n        a_slice =  table[i*slice_size:(i+1)*slice_size]\r\n        slices.append( a_slice )\r\n    slices.append( table[(k-1)*slice_size:] )  # whatever is left\r\n    \r\n    #generate test results\r\n    all_scores = []  #keep track of all k results\r\n    for i in range(k):\r\n        test_table = slices[i]\r\n        train_table = compute_training(slices, i)\r\n        fold_tree = build_tree_iter(train_table, candidate_columns, target, hypers)  # train\r\n        scores = produce_scores(test_table, fold_tree, target)  # test\r\n        results_row = {\'name\': \'fold_\'+str(i), \'accuracy\': scores[0], \'f1\': scores[1], \'informedness\': scores[2]}\r\n        k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)\r\n        all_scores.append(scores)\r\n    \r\n    #compute average of all folds\r\n    avg_scores = tuple(reduce(lambda total, triple: np.add(triple, total), all_scores)/k)\r\n    results_row = {\'name\': \'average\', \'accuracy\': avg_scores[0], \'f1\': avg_scores[1], \'informedness\': avg_scores[2]}\r\n    k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)\r\n    \r\n    #note that I add the meta comment as last step to avoid it being wiped out\r\n    k_fold_results_table.meta = SimpleNamespace()\r\n    k_fold_results_table.meta.hypers  = hypers # adds comment to remind me of hyper params used\r\n    \r\n    return k_fold_results_table\r\n\r\ndef compute_training(slices, left_out):\r\n    training_slices = []\r\n    for i,slice in enumerate(slices):\r\n        if i == left_out:\r\n            continue\r\n        training_slices.append(slices[i])\r\n    return pd.concat(training_slices)\r\n\r\nfrom sklearn.utils import shuffle\r\n\r\n#Determine if slices are mutually exclusive\r\ndef verify_unique(slices):\r\n    print((\'total length all slices\', sum([len(s) for s in slices])))\r\n    for i, a_slice in enumerate(slices[:-1]):\r\n        a_set = set(a_slice.index)\r\n        for j, b_slice in enumerate(slices[i+1:]):\r\n            b_set = set(b_slice.index)\r\n            int_set = a_set.intersection(b_set)  # should be empty set as result\r\n            print((i,j+i+1,int_set))\r\n    return None\r\n\r\ndef k_fold_random(table, k, target, hypers, candidate_columns):\r\n  #set up the table where we will record fold results\r\n    result_columns = [\'name\',  \'accuracy\', \'f1\', \'informedness\']\r\n    k_fold_results_table = pd.DataFrame(columns=result_columns)\r\n    \r\n    #generate the slices\r\n    # here is sequential slice code from k_fold if you want to use it as base.\r\n    # modify it to produce slices with random rows in each slice.\r\n\r\n    table = shuffle(loan_table)\r\n    total_len = len(table.index)\r\n    slice_size = int(total_len/(1.0*k))\r\n    slices = []\r\n    #generate the slices\r\n    for i in range(k-1):\r\n      a_slice =  table[i*slice_size:(i+1)*slice_size]\r\n      slices.append( a_slice )\r\n    slices.append( table[(k-1)*slice_size:] )\r\n\r\n    verify_unique(slices)  # I ask you to define this debugging function below\r\n    \r\n    #generate test results\r\n    all_scores = []  #keep track of all k results\r\n    for i in range(k):\r\n        test_table = slices[i]\r\n        train_table = compute_training(slices, i)\r\n        fold_tree = build_tree_iter(train_table, candidate_columns, target, hypers)  # train\r\n        scores = produce_scores(test_table, fold_tree, target)  # test\r\n        results_row = {\'name\': \'fold_\'+str(i), \'accuracy\': scores[0], \'f1\': scores[1], \'informedness\': scores[2]}\r\n        k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)\r\n        all_scores.append(scores)\r\n    \r\n    #compute average of all folds\r\n    avg_scores = tuple(reduce(lambda total, triple: np.add(triple, total), all_scores)/5)\r\n    results_row = {\'name\': \'average\', \'accuracy\': avg_scores[0], \'f1\': avg_scores[1], \'informedness\': avg_scores[2]}\r\n    k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)\r\n    \r\n    #note that I add the meta comment as last step to avoid it being wiped out\r\n    k_fold_results_table.meta = SimpleNamespace()\r\n    k_fold_results_table.meta.hypers  = hypers # adds comment to remind me of hyper params used\r\n    \r\n    return k_fold_results_table'}

In [13]:
from library_w19_week5 import *

%who function

accuracy	 build_pred	 build_tree_iter	 compute_prediction	 compute_training	 f1	 find_best_splitter	 generate_table	 gig
gini	 informedness	 k_fold	 k_fold_random	 path_id	 predictor_case	 probabilities	 produce_scores	 reorder_paths
shuffle	 tree_predictor	 verify_unique

<hr>
<h1>
2: Explore depth parameter with 10-folding (10 points)
</h1>
<p>
<div class=h1_cell>
<p>
In the week 4 module you were asked to explore depths from 1 to 5 without any cross-validation. Go ahead and do it again but using K-folding with K=10.
<p>
First, define the columns to use. I do that for you below.
</div>

In [0]:
splitter_columns = [
        #ApplicantIncome
       'apin_low', 'apin_high', 'apin_average',
        #Property_Area
        'pa_Rural', 'pa_Semiurban','pa_Urban',
        #LoanAmount
        'lam_Low', 'lam_Average', 'lam_High',
        #Credit_History
        'ch_bad', 'ch_good']

<hr>
<h2>
Show your results below
</h2>
<p>
<div class=h1_cell>
<p>
Explore depths 1-5 with 10-folding. You can leave the gig cutoff as default value.
</div>

In [15]:
table10_1 = k_fold(loan_table, 10, 'Loan_Status', {'max-depth': 1}, splitter_columns)
table10_1

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.754098  0.835165      0.330952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.877551      0.330214
6    fold_6  0.836066  0.886364      0.545455
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.786885  0.865979      0.310078
9    fold_9  0.846154  0.895833      0.545455
10  average  0.809206  0.876388      0.406950

In [16]:
table10_2 = k_fold(loan_table, 10, 'Loan_Status', {'max-depth': 2}, splitter_columns)
table10_2

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.754098  0.835165      0.330952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.877551      0.330214
6    fold_6  0.819672  0.876404      0.500000
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.786885  0.865979      0.310078
9    fold_9  0.846154  0.895833      0.545455
10  average  0.807566  0.875392      0.402404

In [17]:
table10_3 = k_fold(loan_table, 10, 'Loan_Status', {'max-depth': 3}, splitter_columns)
table10_3

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.721311  0.808989      0.280952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.877551      0.330214
6    fold_6  0.819672  0.876404      0.500000
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.786885  0.865979      0.310078
9    fold_9  0.846154  0.895833      0.545455
10  average  0.804288  0.872774      0.397404

In [18]:
table10_4 = k_fold(loan_table, 10, 'Loan_Status', {'max-depth': 4}, splitter_columns)
table10_4

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.737705  0.822222      0.305952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.875000      0.366310
6    fold_6  0.819672  0.876404      0.500000
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.786885  0.865979      0.310078
9    fold_9  0.846154  0.895833      0.545455
10  average  0.805927  0.873842      0.403514

In [19]:
table10_5 = k_fold(loan_table, 10, 'Loan_Status', {'max-depth': 5}, splitter_columns)
table10_5

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.754098  0.835165      0.330952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.875000      0.366310
6    fold_6  0.836066  0.886364      0.545455
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.754098  0.842105      0.263566
9    fold_9  0.846154  0.895833      0.545455
10  average  0.805927  0.873745      0.405908

<hr>
<h1>
What does it look like to you?
</h1>
<p>
<div class=h1_cell>
<p>
To me it looks like the stump is best! As we add depth I don't see an improvement. And it looks like results from depth 4 and 5 the same. What I would try next is the gig cutoff and bringing more columns into play (e.g., Gender, Married) by applying ohe to them.
</div>

<hr>
<h1>
4: Random slices (60 points)
</h1>
<p>
<div class=h1_cell>
<p>
I'd like you to try one more thing. The `k_fold` function takes slices sequentially. I'd like you to write a function `k_fold_random` that takes random slices *without replacement*. Without replacement means that each slice should have a unique set of rows, i.e., no slices share a row
<p>
Each slice should be roughly 1/k percent of the entire table.
<p>
To solve this problem, I found it easiest to play around with loops in a notebook cell before trying to replace code in `k_fold`. My target was the equivalent of this but now with random slices:
<pre>
<code>
    total_len = len(table.index)
    slice_size = int(total_len/(1.0`*`k))
    slices = []

    #generate the slices
    for i in range(k-1):
        a_slice =  table[i`*`slice_size:(i+1)`*`slice_size]
        slices.append( a_slice )
    slices.append( table[(k-1)`*`slice_size:] )
    
    verify_unique(slices)  # I ask you to define this debugging function below
</code>
</pre>
<p>
I copied this code into a cell and then started to play around with various ideas until I got one I liked.
<p>
</div>

<h2>Help with debugging</h2>
I'll define a debugging function that will take a list of slices and do a pairwise comparison. For each pair, it will print the set intersection between the 2 slices. I give you a few test cases to try.

In [0]:
#Determine if slices are mutually exclusive
def verify_unique(slices):
    print(('total length all slices', sum([len(s) for s in slices])))
    for i, a_slice in enumerate(slices[:-1]):
        a_set = set(a_slice.index)
        for j, b_slice in enumerate(slices[i+1:]):
            b_set = set(b_slice.index)
            int_set = a_set.intersection(b_set)  # should be empty set as result
            print((i,j+i+1,int_set))
    return None

In [21]:
#test

verify_unique([loan_table[0:2], loan_table[2:4], loan_table[4:5]])  #looks good - enpty set for each pair

('total length all slices', 5)
(0, 1, set())
(0, 2, set())
(1, 2, set())

In [22]:
#test

verify_unique([loan_table[0:2], loan_table[1:4], loan_table[1:5]])  #not so good, finds intersection between all 3 pairs

('total length all slices', 9)
(0, 1, {1})
(0, 2, {1})
(1, 2, {1, 2, 3})

In [23]:
table = loan_table
total_len = len(table.index)
k = 10
slice_size = int(total_len/(1.0*k))
slices = []
repeats = []    
  
total_len = len(table.index)
slice_size = int(total_len/(1.0*k))
slices = []
for i in range(k-1):
    a_slice =  table[i*slice_size:(i+1)*slice_size]
    slices.append( a_slice )
slices.append( table[(k-1)*slice_size:] )
print(type(slices), len(slices), type(slices[0]))

<class 'list'> 10 <class 'pandas.core.frame.DataFrame'>

In [24]:
print(loan_table[0:1])

  Gender Married Dependents Education Self_Employed  ApplicantIncome  \
0   Male      No          0  Graduate            No             5849

   CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                0.0         NaN             360.0             1.0

  Property_Area  Loan_Status  no_lam  filled_lam  pa_Rural  pa_Semiurban  \
0         Urban            1       1  146.412162         0             0

   pa_Urban  pa_nan lam_bin  lam_Low  lam_Average  lam_High  ch_bad  ch_good  \
0         1       0     Low        1            0         0       0        1

   ch_nan apin_binned  apin_low  apin_average  apin_high  apin_nan
0       0         low         1             0          0         0

In [25]:
from sklearn.utils import shuffle
k = 10
table = shuffle(loan_table)
total_len = len(table.index)
slice_size = int(total_len/(1.0*k))
slices = []
#generate the slices
for i in range(k-1):
  a_slice =  table[i*slice_size:(i+1)*slice_size]
  slices.append( a_slice )
slices.append( table[(k-1)*slice_size:] )

verify_unique(slices)  # I ask you to define this debugging function below

('total length all slices', 614)
(0, 1, set())
(0, 2, set())
(0, 3, set())
(0, 4, set())
(0, 5, set())
(0, 6, set())
(0, 7, set())
(0, 8, set())
(0, 9, set())
(1, 2, set())
(1, 3, set())
(1, 4, set())
(1, 5, set())
(1, 6, set())
(1, 7, set())
(1, 8, set())
(1, 9, set())
(2, 3, set())
(2, 4, set())
(2, 5, set())
(2, 6, set())
(2, 7, set())
(2, 8, set())
(2, 9, set())
(3, 4, set())
(3, 5, set())
(3, 6, set())
(3, 7, set())
(3, 8, set())
(3, 9, set())
(4, 5, set())
(4, 6, set())
(4, 7, set())
(4, 8, set())
(4, 9, set())
(5, 6, set())
(5, 7, set())
(5, 8, set())
(5, 9, set())
(6, 7, set())
(6, 8, set())
(6, 9, set())
(7, 8, set())
(7, 9, set())
(8, 9, set())

<h2>
Plug your code in
</h2>
<p>
<div class=h1_cell>
<p>
Once you are generating slices randomly, you will have k test slices. You can go ahead and place your code into `k_fold_random`. You should now be good to go.
<p>
One problem with doing random selections is that we will get different results every time we run our code. We will see a way to get repeatable results in next module. For now, you may find that you are not matching my fold results.
</div>

In [0]:
from sklearn.utils import shuffle
def k_fold_random(table, k, target, hypers, candidate_columns):
  #set up the table where we will record fold results
    result_columns = ['name',  'accuracy', 'f1', 'informedness']
    k_fold_results_table = pd.DataFrame(columns=result_columns)
    
    #generate the slices
    # here is sequential slice code from k_fold if you want to use it as base.
    # modify it to produce slices with random rows in each slice.

    table = shuffle(loan_table)
    total_len = len(table.index)
    slice_size = int(total_len/(1.0*k))
    slices = []
    #generate the slices
    for i in range(k-1):
      a_slice =  table[i*slice_size:(i+1)*slice_size]
      slices.append( a_slice )
    slices.append( table[(k-1)*slice_size:] )

    verify_unique(slices)  # I ask you to define this debugging function below
    
    #generate test results
    all_scores = []  #keep track of all k results
    for i in range(k):
        test_table = slices[i]
        train_table = compute_training(slices, i)
        fold_tree = build_tree_iter(train_table, candidate_columns, target, hypers)  # train
        scores = produce_scores(test_table, fold_tree, target)  # test
        results_row = {'name': 'fold_'+str(i), 'accuracy': scores[0], 'f1': scores[1], 'informedness': scores[2]}
        k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)
        all_scores.append(scores)
    
    #compute average of all folds
    avg_scores = tuple(reduce(lambda total, triple: np.add(triple, total), all_scores)/5)
    results_row = {'name': 'average', 'accuracy': avg_scores[0], 'f1': avg_scores[1], 'informedness': avg_scores[2]}
    k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)
    
    #note that I add the meta comment as last step to avoid it being wiped out
    k_fold_results_table.meta = SimpleNamespace()
    k_fold_results_table.meta.hypers  = hypers # adds comment to remind me of hyper params used
    
    return k_fold_results_table

In [27]:
k_fold_random(loan_table, 10, 'Loan_Status', {'max-depth': 1}, splitter_columns)

('total length all slices', 614)
(0, 1, set())
(0, 2, set())
(0, 3, set())
(0, 4, set())
(0, 5, set())
(0, 6, set())
(0, 7, set())
(0, 8, set())
(0, 9, set())
(1, 2, set())
(1, 3, set())
(1, 4, set())
(1, 5, set())
(1, 6, set())
(1, 7, set())
(1, 8, set())
(1, 9, set())
(2, 3, set())
(2, 4, set())
(2, 5, set())
(2, 6, set())
(2, 7, set())
(2, 8, set())
(2, 9, set())
(3, 4, set())
(3, 5, set())
(3, 6, set())
(3, 7, set())
(3, 8, set())
(3, 9, set())
(4, 5, set())
(4, 6, set())
(4, 7, set())
(4, 8, set())
(4, 9, set())
(5, 6, set())
(5, 7, set())
(5, 8, set())
(5, 9, set())
(6, 7, set())
(6, 8, set())
(6, 9, set())
(7, 8, set())
(7, 9, set())
(8, 9, set())

       name  accuracy        f1  informedness
0    fold_0  0.786885  0.860215      0.375610
1    fold_1  0.901639  0.934783      0.666667
2    fold_2  0.819672  0.884211      0.421189
3    fold_3  0.836066  0.893617      0.476744
4    fold_4  0.786885  0.850575      0.451945
5    fold_5  0.786885  0.868687      0.271390
6    fold_6  0.803279  0.882353      0.244928
7    fold_7  0.803279  0.869565      0.428571
8    fold_8  0.786885  0.860215      0.375610
9    fold_9  0.784615  0.860000      0.363636
10  average  1.619218  1.752844      0.815258

What we got with prior sequential split at depth 1: 
<pre>
10	average	0.809206	0.876388	0.406950
</pre>

In [28]:
k_fold_random(loan_table, 10, 'Loan_Status', {'max-depth': 2}, splitter_columns)

('total length all slices', 614)
(0, 1, set())
(0, 2, set())
(0, 3, set())
(0, 4, set())
(0, 5, set())
(0, 6, set())
(0, 7, set())
(0, 8, set())
(0, 9, set())
(1, 2, set())
(1, 3, set())
(1, 4, set())
(1, 5, set())
(1, 6, set())
(1, 7, set())
(1, 8, set())
(1, 9, set())
(2, 3, set())
(2, 4, set())
(2, 5, set())
(2, 6, set())
(2, 7, set())
(2, 8, set())
(2, 9, set())
(3, 4, set())
(3, 5, set())
(3, 6, set())
(3, 7, set())
(3, 8, set())
(3, 9, set())
(4, 5, set())
(4, 6, set())
(4, 7, set())
(4, 8, set())
(4, 9, set())
(5, 6, set())
(5, 7, set())
(5, 8, set())
(5, 9, set())
(6, 7, set())
(6, 8, set())
(6, 9, set())
(7, 8, set())
(7, 9, set())
(8, 9, set())

       name  accuracy        f1  informedness
0    fold_0  0.852459  0.907216      0.470588
1    fold_1  0.786885  0.860215      0.375610
2    fold_2  0.852459  0.909091      0.437500
3    fold_3  0.786885  0.863158      0.344612
4    fold_4  0.819672  0.870588      0.538902
5    fold_5  0.754098  0.838710      0.301220
6    fold_6  0.868852  0.923077      0.384615
7    fold_7  0.836066  0.895833      0.447861
8    fold_8  0.688525  0.776471      0.321429
9    fold_9  0.830769  0.891089      0.451945
10  average  1.615334  1.747090      0.814856

What we got in sequential at depth 2:
<pre>
10	average	0.807566	0.875392	0.402404
</pre>
Let's try one more.

In [29]:
k_fold_random(loan_table, 10, 'Loan_Status', {'max-depth': 3}, splitter_columns)

('total length all slices', 614)
(0, 1, set())
(0, 2, set())
(0, 3, set())
(0, 4, set())
(0, 5, set())
(0, 6, set())
(0, 7, set())
(0, 8, set())
(0, 9, set())
(1, 2, set())
(1, 3, set())
(1, 4, set())
(1, 5, set())
(1, 6, set())
(1, 7, set())
(1, 8, set())
(1, 9, set())
(2, 3, set())
(2, 4, set())
(2, 5, set())
(2, 6, set())
(2, 7, set())
(2, 8, set())
(2, 9, set())
(3, 4, set())
(3, 5, set())
(3, 6, set())
(3, 7, set())
(3, 8, set())
(3, 9, set())
(4, 5, set())
(4, 6, set())
(4, 7, set())
(4, 8, set())
(4, 9, set())
(5, 6, set())
(5, 7, set())
(5, 8, set())
(5, 9, set())
(6, 7, set())
(6, 8, set())
(6, 9, set())
(7, 8, set())
(7, 9, set())
(8, 9, set())

       name  accuracy        f1  informedness
0    fold_0  0.819672  0.886598      0.389037
1    fold_1  0.786885  0.860215      0.380952
2    fold_2  0.786885  0.860215      0.379679
3    fold_3  0.819672  0.873563      0.519814
4    fold_4  0.737705  0.829787      0.251220
5    fold_5  0.885246  0.926316      0.588235
6    fold_6  0.737705  0.833333      0.225610
7    fold_7  0.852459  0.909091      0.444928
8    fold_8  0.770492  0.847826      0.355952
9    fold_9  0.815385  0.877551      0.454545
10  average  1.602421  1.740899      0.797994

What we got in sequential at depth 3:
<pre>
10	average	0.804288	0.872774	0.397404
</pre>
Random looks very close to sequential. With this small a dataset, I could see that happening. In general, random is prefered. With sequential you might be picking up some funny ordering of the rows. Maybe they listed the best applicants first.

<hr>
<h1>Did not change loan table</h1>
<div class=h1_cell>
<p>
No need to write it out.
</div>

<hr>
<h1>We did change library</h1>
<div class=h1_cell>
<p>
We added `verify_unique` and `k_fold_random`. Add them to your library and call new file `library_w19_5b.py`. I added the `b` to differentiate it from functions we added in intro notebook and top of this one.
</div>