<h1>
<center>
Module 8: K-NN
</center>
</h1>
<div class=h1_cell>
<p>
I kind of like K Nearest Neighbor (K-NN). It is a version of crowd-sourcing like random forests. The general idea is that you choose K to be how many "consultants" you take votes from. With random forests, the consultants were decision trees. In K-NN, they are the other rows in the table. So let's say you are trying to predict what value to give for a row i. What you do is check all the other rows (excluding i) to get their distance from i. You choose the K closest. You take the predictions from each of those K. Majority wins and is the prediction you use for row i.
<p>
Notice anything interesting? We are not doing any training! We do have to have labeled data to get the K consultants. But no training step involved. Wow.
<p>
However, there is always a catch. Think about what we are doing. For every row, we are calculating distance to every other row. Feels `O(n)` to me. And remember, the shelter data we looked at had 26K rows! What is cost of decision tree or random forest to make a prediction? Worst case it is the depth of the tree, i.e., it is constant speed. If we need to make real-time predictions then `O(n)` might not be good enough.
</div>
<p>
  And btw, when testing K-NN, our cost will balloon to `O(n**2)`.

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
with open('/content/gdrive/My Drive/class_tables/loan_table_week4.csv', 'r') as f:
  loan_table = pd.read_csv(f)

In [0]:
!rm library_w19_week6.py

In [4]:
from google.colab import files
files.upload()

Saving library_w19_week6.py to library_w19_week6.py

{'library_w19_week6.py': b'import pandas as pd\r\nimport numpy as np\r\nfrom functools import reduce\r\nfrom types import SimpleNamespace\r\nimport random\r\n\r\ndef predictor_case(row, pred, target):\r\n  case_dict = {(0,0): \'true_negative\', (1,1): \'true_positive\', (0,1): \'false_negative\', (1,0): \'false_positive\'}\r\n  actual = row[target]\r\n  prediction = row[pred]\r\n  case = case_dict[(prediction, actual)]\r\n  return case\r\n\r\ndef informedness(cases):\r\n  tp = 0\r\n  if \'true_positive\' in cases:\r\n    tp = cases[\'true_positive\']\r\n  tn = 0\r\n  if \'true_negative\' in cases:\r\n    tn = cases[\'true_negative\']\r\n  fp = 0\r\n  if \'false_positive\' in cases:\r\n    fp = cases[\'false_positive\']\r\n  fn = 0\r\n  if \'false_negative\' in cases:\r\n    fn = cases[\'false_negative\']\r\n  if (((tp+fn) == 0) or ((tn+fp) == 0)):\r\n    return -1\r\n  else:\r\n    recall = 1.0*tp/(tp+fn)\r\n    specificity = 1.0*tn/(tn+fp)\r\n    J = (recall + specificity) - 1\r\n    \r\n  return J\r\n\r\ndef accuracy(cases):\r\n  tp = 0\r\n  if \'true_positive\' in cases:\r\n    tp = cases[\'true_positive\']\r\n  tn = 0\r\n  if \'true_negative\' in cases:\r\n    tn = cases[\'true_negative\']\r\n  fp = 0\r\n  if \'false_positive\' in cases:\r\n    fp = cases[\'false_positive\']\r\n  fn = 0\r\n  if \'false_negative\' in cases:\r\n    fn = cases[\'false_negative\']\r\n  if (tp + tn + fp + fn) == 0:\r\n    return 0\r\n  else:\r\n    return (tp + tn)/(tp+tn+fp+fn)\r\n\r\ndef f1(cases):\r\n  #the heart of the matrix\r\n  tp = 0\r\n  if \'true_positive\' in cases:\r\n    tp = cases[\'true_positive\']\r\n  tn = 0\r\n  if \'true_negative\' in cases:\r\n    tn = cases[\'true_negative\']\r\n  fp = 0\r\n  if \'false_positive\' in cases:\r\n    fp = cases[\'false_positive\']\r\n  fn = 0\r\n  if \'false_negative\' in cases:\r\n    fn = cases[\'false_negative\']\r\n\t\r\n\t#other measures we can derive\r\n  if (((tp+fn) == 0) or ((tp+fp) == 0)):\r\n    return 0\r\n  else:\r\n    recall = 1.0*tp/(tp+fn)\r\n    precision = 1.0*tp/(tp+fp)\r\n\t\r\n\t#now for the one we want\r\n  if ((recall == 0) or (precision == 0)):\r\n    return 0\r\n  else:\r\n\t   f1 = 2/(1/recall + 1/precision)\r\n\t\r\n  return f1\r\n\r\ndef gig(starting_table, split_column, target_column):\r\n    \r\n    #split into two branches, i.e., two sub-tables\r\n    true_table = starting_table.loc[starting_table[split_column] == 1]\r\n    false_table = starting_table.loc[starting_table[split_column] == 0]\r\n    \r\n    #Now see how the target column is divided up in each sub-table (and the starting table)\r\n    true_counts = true_table[target_column].value_counts()  # Note using true_table and not starting_table\r\n    false_counts = false_table[target_column].value_counts()  # Note using false_table and not starting_table\r\n    starting_counts = starting_table[target_column].value_counts() \r\n    \r\n    #compute the gini impurity for the 3 tables\r\n    starting_gini = gini(starting_counts)\r\n    true_gini = gini(true_counts)\r\n    false_gini = gini(false_counts)\r\n\r\n    #compute the weights\r\n    starting_size = len(starting_table.index)\r\n    true_weight = 0.0 if starting_size == 0 else len(true_table.index)/starting_size\r\n    false_weight = 0.0 if starting_size == 0 else len(false_table.index)/starting_size\r\n    \r\n    #wrap it up and put on a bow\r\n    gig = starting_gini - (true_weight * true_gini + false_weight * false_gini)\r\n    \r\n    return gig\r\n\r\ndef gini(counts):\r\n    (p0,p1) = probabilities(counts)\r\n    sum_probs = p0**2 + p1**2\r\n    gini = 1 - sum_probs\r\n    return gini\r\n\r\ndef probabilities(counts):\r\n    count_0 = 0 if 0 not in counts else counts[0]  #could have no 0 values\r\n    count_1 = 0 if 1 not in counts else counts[1]\r\n    total = count_0 + count_1\r\n    probs = (0,0) if total == 0 else (count_0/total, count_1/total)  #build 2-tuple\r\n    return probs\r\n\r\ndef build_pred(column, branch):\r\n    return lambda row: row[column] == branch\r\n\r\ndef find_best_splitter(table, choice_list, target):\r\n  \r\n    assert (len(table)>0),"Cannot split empty table"\r\n    assert (target in table),"Target must be column in table"\r\n    \r\n    gig_scores = map(lambda col: (col, gig(table, col, target)), choice_list)  #compute tuple (col, gig) for each column\r\n    gig_sorted = sorted(gig_scores, key=lambda item: item[1], reverse=True)  # sort on gig\r\n    return gig_sorted\r\n\r\nfrom functools import reduce\r\n\r\ndef generate_table(table, conjunction):\r\n  \r\n    assert (len(table)>0),"Cannot generate from empty table"\r\n\r\n    sub_table = reduce(lambda subtable, pair: subtable.loc[pair[1]], conjunction, table)\r\n    return sub_table\r\n\r\ndef compute_prediction(table, target):\r\n  \r\n    assert (len(table)>0),"Cannot predict from empty table"\r\n    assert (target in table),"Target must be column in table"\r\n    \r\n    counts = table[target].value_counts()  # counts looks like {0: v1, 1: v2}\r\n\r\n    if 0 not in counts:\r\n        prediction = 1\r\n    elif 1 not in counts:\r\n        prediction = 0\r\n    elif counts[1] > counts[0]:  # ties go to 0 (negative)\r\n        prediction = 1\r\n    else:\r\n        prediction = 0\r\n\r\n    return prediction\r\n\r\ndef build_tree_iter(table, choices, target, hypers={} ):\r\n\r\n    assert (len(choices)>0),"Must have at least one column in choices"\r\n    assert (target in table), "Target column not in table"\r\n    assert (len(table) > 1), "Table must have more than 1 row"\r\n    \r\n    k = hypers[\'max-depth\'] if \'max-depth\' in hypers else min(4, len(choices))\r\n    gig_cutoff = hypers[\'gig-cutoff\'] if \'gig-cutoff\' in hypers else 0.0\r\n    \r\n    def iterative_build(k):\r\n        columns_sorted = find_best_splitter(table, choices, target)\r\n        (best_column, gig_value) = columns_sorted[0]\r\n        \r\n        #Note I add _1 or _0 to make it more readable for debugging\r\n        current_paths = [{\'conjunction\': [(best_column, build_pred(best_column, 1))],\r\n                          \'prediction\': None,\r\n                          \'gig_score\': gig_value},\r\n                         {\'conjunction\': [(best_column, build_pred(best_column, 0))],\r\n                          \'prediction\': None,\r\n                          \'gig_score\': gig_value}\r\n                        ]\r\n        k -= 1  # we just built a level as seed so subtract 1 from k\r\n        tree_paths = []  # add completed paths here\r\n        \r\n        while k>0:\r\n            new_paths = []\r\n            for path in current_paths:\r\n                old_conjunction = path[\'conjunction\']  # a list of (name, lambda)\r\n                before_table = generate_table(table, old_conjunction)  #the subtable the current conjunct leads to\r\n                columns_sorted = find_best_splitter(before_table, choices, target)\r\n                (best_column, gig_value) = columns_sorted[0]\r\n                if gig_value > gig_cutoff:\r\n                    new_path_1 = {\'conjunction\': old_conjunction + [(best_column, build_pred(best_column, 1))],\r\n                                \'prediction\': None,\r\n                                 \'gig_score\': gig_value}\r\n                    new_paths.append( new_path_1 ) #true\r\n                    new_path_0 = {\'conjunction\': old_conjunction + [(best_column, build_pred(best_column, 0))],\r\n                                \'prediction\': None,\r\n                                 \'gig_score\': gig_value}\r\n                    new_paths.append( new_path_0 ) #false\r\n                else:\r\n                    #not worth splitting so complete the path with a prediction\r\n                    path[\'prediction\'] = compute_prediction(before_table, target)\r\n                    tree_paths.append(path)\r\n            #end for loop\r\n            \r\n            current_paths = new_paths\r\n            if current_paths != []:\r\n                k -= 1\r\n            else:\r\n                break  # nothing left to extend so have copied all paths to tree_paths\r\n        #end while loop\r\n\r\n        #Generate predictions for all paths that have None\r\n        for path in current_paths:\r\n            conjunction = path[\'conjunction\']\r\n            before_table = generate_table(table, conjunction)\r\n            path[\'prediction\'] = compute_prediction(before_table, target)\r\n            tree_paths.append(path)\r\n        return tree_paths\r\n\r\n    return {\'paths\': iterative_build(k), \'weight\': None}\r\n\r\ndef tree_predictor(row, tree):\r\n    \r\n    #go through each path, one by one (could use a map instead of for loop?)\r\n    for path in tree[\'paths\']:\r\n        conjuncts = path[\'conjunction\']\r\n        result = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\r\n        if all(result):\r\n            return path[\'prediction\']\r\n    raise LookupError(\'No true paths found for row: \' + str(row))\r\n\r\ndef path_id(row, tree):\r\n\tassert (len(tree[\'paths\']) > 0)\r\n\tfor path in tree[\'paths\']:\r\n\t\tconjuncts = path[\'conjunction\']\r\n\t\tresult = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\r\n\t\tif all(result):\r\n\t  \t\treturn tree[\'paths\'].index(path)\r\n\r\ndef reorder_paths(table, tree):\r\n\tpath_count = table.apply(lambda row: path_id(row, tree), axis = 1)\r\n\tvalue = path_count.value_counts()\r\n\tpath = sorted(value.items(), key=lambda x: x[1], reverse=True)\r\n\tprint(path)\r\n\tnew_paths = []\r\n\tprev_path = tree3[\'paths\']\r\n\tfor a, b in plist3:\r\n\t\tprev = prev_path[a]\r\n\t\tnew_paths.append(prev)\r\n\treturn new_paths\r\n\r\ndef produce_scores(table, tree, target):\r\n    scratch_table = pd.DataFrame(columns=[\'prediction\', \'actual\'])\r\n    scratch_table[\'prediction\'] = table.apply(lambda row: tree_predictor(row, tree), axis=1)\r\n    scratch_table[\'actual\'] = table[target]  # just copy the target column\r\n    cases = scratch_table.apply(lambda row: predictor_case(row, pred=\'prediction\', target=\'actual\'), axis=1)\r\n    vc = cases.value_counts()\r\n    return [accuracy(vc), f1(vc), informedness(vc)]\r\n\r\ndef k_fold(table, k, target, hypers, candidate_columns):\r\n  \r\n    #set up the table where we will record fold results\r\n    result_columns = [\'name\',  \'accuracy\', \'f1\', \'informedness\']\r\n    k_fold_results_table = pd.DataFrame(columns=result_columns)\r\n    \r\n    #generate the slices\r\n    total_len = len(table.index)\r\n    slice_size = int(total_len/(1.0*k))\r\n    slices = []\r\n    for i in range(k-1):\r\n        a_slice =  table[i*slice_size:(i+1)*slice_size]\r\n        slices.append( a_slice )\r\n    slices.append( table[(k-1)*slice_size:] )  # whatever is left\r\n    \r\n    #generate test results\r\n    all_scores = []  #keep track of all k results\r\n    for i in range(k):\r\n        test_table = slices[i]\r\n        train_table = compute_training(slices, i)\r\n        fold_tree = build_tree_iter(train_table, candidate_columns, target, hypers)  # train\r\n        scores = produce_scores(test_table, fold_tree, target)  # test\r\n        results_row = {\'name\': \'fold_\'+str(i), \'accuracy\': scores[0], \'f1\': scores[1], \'informedness\': scores[2]}\r\n        k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)\r\n        all_scores.append(scores)\r\n    \r\n    #compute average of all folds\r\n    avg_scores = tuple(reduce(lambda total, triple: np.add(triple, total), all_scores)/k)\r\n    results_row = {\'name\': \'average\', \'accuracy\': avg_scores[0], \'f1\': avg_scores[1], \'informedness\': avg_scores[2]}\r\n    k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)\r\n    \r\n    #note that I add the meta comment as last step to avoid it being wiped out\r\n    k_fold_results_table.meta = SimpleNamespace()\r\n    k_fold_results_table.meta.hypers  = hypers # adds comment to remind me of hyper params used\r\n    \r\n    return k_fold_results_table\r\n\r\ndef compute_training(slices, left_out):\r\n    training_slices = []\r\n    for i,slice in enumerate(slices):\r\n        if i == left_out:\r\n            continue\r\n        training_slices.append(slices[i])\r\n    return pd.concat(training_slices)\r\n\r\nfrom sklearn.utils import shuffle\r\n\r\n#Determine if slices are mutually exclusive\r\ndef verify_unique(slices):\r\n    print((\'total length all slices\', sum([len(s) for s in slices])))\r\n    for i, a_slice in enumerate(slices[:-1]):\r\n        a_set = set(a_slice.index)\r\n        for j, b_slice in enumerate(slices[i+1:]):\r\n            b_set = set(b_slice.index)\r\n            int_set = a_set.intersection(b_set)  # should be empty set as result\r\n            print((i,j+i+1,int_set))\r\n    return None\r\n\r\ndef k_fold_random(table, k, target, hypers, candidate_columns):\r\n  #set up the table where we will record fold results\r\n    result_columns = [\'name\',  \'accuracy\', \'f1\', \'informedness\']\r\n    k_fold_results_table = pd.DataFrame(columns=result_columns)\r\n    \r\n    #generate the slices\r\n    # here is sequential slice code from k_fold if you want to use it as base.\r\n    # modify it to produce slices with random rows in each slice.\r\n\r\n    table = shuffle(loan_table)\r\n    total_len = len(table.index)\r\n    slice_size = int(total_len/(1.0*k))\r\n    slices = []\r\n    #generate the slices\r\n    for i in range(k-1):\r\n      a_slice =  table[i*slice_size:(i+1)*slice_size]\r\n      slices.append( a_slice )\r\n    slices.append( table[(k-1)*slice_size:] )\r\n\r\n    verify_unique(slices)  # I ask you to define this debugging function below\r\n    \r\n    #generate test results\r\n    all_scores = []  #keep track of all k results\r\n    for i in range(k):\r\n        test_table = slices[i]\r\n        train_table = compute_training(slices, i)\r\n        fold_tree = build_tree_iter(train_table, candidate_columns, target, hypers)  # train\r\n        scores = produce_scores(test_table, fold_tree, target)  # test\r\n        results_row = {\'name\': \'fold_\'+str(i), \'accuracy\': scores[0], \'f1\': scores[1], \'informedness\': scores[2]}\r\n        k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)\r\n        all_scores.append(scores)\r\n    \r\n    #compute average of all folds\r\n    avg_scores = tuple(reduce(lambda total, triple: np.add(triple, total), all_scores)/5)\r\n    results_row = {\'name\': \'average\', \'accuracy\': avg_scores[0], \'f1\': avg_scores[1], \'informedness\': avg_scores[2]}\r\n    k_fold_results_table = k_fold_results_table.append(results_row,ignore_index=True)\r\n    \r\n    #note that I add the meta comment as last step to avoid it being wiped out\r\n    k_fold_results_table.meta = SimpleNamespace()\r\n    k_fold_results_table.meta.hypers  = hypers # adds comment to remind me of hyper params used\r\n    \r\n    return k_fold_results_table\r\n\r\ndef vote_taker(row, forest):\r\n    votes = {0:0, 1:0}\r\n    for tree in forest:\r\n        prediction = tree_predictor(row, tree)\r\n        votes[prediction] += 1\r\n    winner = 1 if votes[1]>votes[0] else 0  #ties go to 0\r\n    return winner\r\n\r\ndef forest_scores(table, forest, target):\r\n    scratch_table = pd.DataFrame(columns=[\'prediction\', \'actual\'])\r\n    scratch_table[\'prediction\'] = table.apply(lambda row: vote_taker(row, forest), axis=1)  #only change is to call vote_taker\r\n    scratch_table[\'actual\'] = table[target]  # just copy the target column\r\n    cases = scratch_table.apply(lambda row: predictor_case(row, pred=\'prediction\', target=\'actual\'), axis=1)\r\n    vc = cases.value_counts()\r\n    return [accuracy(vc), f1(vc), informedness(vc)]\r\n\r\ndef forest_builder(table, column_choices, target, hypers):\r\n\r\n    tree_n = 5 if \'total-trees\' not in hypers else hypers[\'total-trees\']\r\n    m = int(len(column_choices)**.5) if \'m\' not in hypers else hypers[\'m\']\r\n    k = hypers[\'max-depth\'] if \'max-depth\' in hypers else min(2, len(column_choices))\r\n    gig_cutoff = hypers[\'gig-cutoff\'] if \'gig-cutoff\' in hypers else 0.0\r\n    rgen = hypers[\'random-state\'] if \'random-state\' in hypers else 0  #an int will work as seed with the sample method.\r\n\r\n    #build a single tree of depth n - call it multiple times to build multiple trees\r\n    def iterative_build(n):\r\n        train = table.sample(frac=1.0, replace=True, random_state=rgen)\r\n        train = train.reset_index()\r\n        left_out = table.loc[~table.index.isin(train[\'index\'])]\r\n        left_out = left_out.reset_index() # this gives us the old index in its own column\r\n        oob_list = left_out[\'index\'].tolist()  # list of row indices from original titanic table\r\n        \r\n        rcols = random.sample(column_choices, m)  # subspcace sampling - uses random.seed, not rng\r\n        columns_sorted = find_best_splitter(train, rcols, target)\r\n        (best_column, gig_value) = columns_sorted[0]\r\n\r\n        #Note I add _1 or _0 to make it more readable for debugging\r\n        current_paths = [{\'conjunction\': [(best_column+\'_1\', build_pred(best_column, 1))],\r\n                          \'prediction\': None,\r\n                          \'gig_score\': gig_value},\r\n                         {\'conjunction\': [(best_column+\'_0\', build_pred(best_column, 0))],\r\n                          \'prediction\': None,\r\n                          \'gig_score\': gig_value}\r\n                        ]\r\n        n -= 1  # we just built a level as seed so subtract 1 from n\r\n        tree_paths = []  # add completed paths here\r\n\r\n        while n>0:\r\n            new_paths = []\r\n            for path in current_paths:\r\n                conjunct = path[\'conjunction\']  # a list of (name, lambda)\r\n                before_table = generate_table(train, conjunct)  #the subtable the current conjunct leads to\r\n                rcols = random.sample(column_choices, m)  # subspace\r\n                columns_sorted = find_best_splitter(before_table, rcols, target)\r\n                (best_column, gig_value) = columns_sorted[0]\r\n                if gig_value > gig_cutoff:\r\n                    new_path_1 = {\'conjunction\': conjunct + [(best_column+\'_1\', build_pred(best_column, 1))],\r\n                                \'prediction\': None,\r\n                                 \'gig_score\': gig_value}\r\n                    new_paths.append( new_path_1 ) #true\r\n                    new_path_0 = {\'conjunction\': conjunct + [(best_column+\'_0\', build_pred(best_column, 0))],\r\n                                \'prediction\': None,\r\n                                 \'gig_score\': gig_value\r\n                                 }\r\n                    new_paths.append( new_path_0 ) #false\r\n                else:\r\n                    #not worth splitting so complete the path with a prediction\r\n                    path[\'prediction\'] = compute_prediction(before_table, target)\r\n                    tree_paths.append(path)\r\n            #end for loop\r\n\r\n            current_paths = new_paths\r\n            if current_paths != []:\r\n                n -= 1\r\n            else:\r\n                break  # nothing left to extend so have copied all paths to tree_paths\r\n        #end while loop\r\n\r\n        #Generate predictions for all paths that have None\r\n        for path in current_paths:\r\n            conjunct = path[\'conjunction\']\r\n            before_table = generate_table(train, conjunct)\r\n            path[\'prediction\'] = compute_prediction(before_table, target)\r\n            tree_paths.append(path)\r\n        return (tree_paths, oob_list)\r\n    \r\n    #let\'s build a forest\r\n    forest = []\r\n    for i in range(tree_n):\r\n        (paths, oob) = iterative_build(k)  #always use k for now\r\n        forest.append({\'paths

In [5]:
from library_w19_week6 import *

%who function

accuracy	 build_pred	 build_tree_iter	 compute_prediction	 compute_training	 f1	 find_best_splitter	 forest_builder	 forest_scores
generate_table	 gig	 gini	 informedness	 k_fold	 k_fold_random	 path_id	 predictor_case	 probabilities
produce_scores	 reorder_paths	 shuffle	 tree_predictor	 verify_unique	 vote_taker

In [6]:
pd.set_option('display.max_columns', None)
loan_table.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,no_lam,filled_lam,pa_Rural,pa_Semiurban,pa_Urban,pa_nan,lam_bin,lam_Low,lam_Average,lam_High,ch_bad,ch_good,ch_nan,apin_binned,apin_low,apin_average,apin_high,apin_nan,dep_0,dep_1,dep_2,dep_3+,dep_nan
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1,1,146.412162,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0,1,0,0,0,0
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0,0,128.000000,1,0,0,0,Low,1,0,0,0,1,0,low,1,0,0,0,0,1,0,0,0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1,0,66.000000,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0,1,0,0,0,0
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1,0,120.000000,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0,1,0,0,0,0
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1,0,141.000000,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0,1,0,0,0,0

In [7]:
loan_table.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,no_lam,filled_lam,pa_Rural,pa_Semiurban,pa_Urban,pa_nan,lam_Low,lam_Average,lam_High,ch_bad,ch_good,ch_nan,apin_low,apin_average,apin_high,apin_nan,dep_0,dep_1,dep_2,dep_3+,dep_nan
count,614.000000,614.000000,592.000000,600.00000,564.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.0,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.0,614.000000,614.000000,614.000000,614.000000,614.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199,0.687296,0.035831,146.412162,0.291531,0.379479,0.328990,0.0,0.905537,0.074919,0.019544,0.144951,0.773616,0.081433,0.988599,0.008143,0.003257,0.0,0.561889,0.166124,0.164495,0.083062,0.024430
std,6109.041673,2926.248369,85.587325,65.12041,0.364878,0.463973,0.186019,84.037468,0.454838,0.485653,0.470229,0.0,0.292710,0.263475,0.138540,0.352339,0.418832,0.273722,0.106250,0.089945,0.057026,0.0,0.496559,0.372495,0.371027,0.276201,0.154506
min,150.000000,0.000000,9.000000,12.00000,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000,0.000000,0.000000,100.250000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000,1.000000,0.000000,129.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000,1.000000,0.000000,164.750000,1.000000,1.000000,1.000000,0.0,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000,1.000000,1.000000,700.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000

<h1>You are mostly on your own</h1>

I am going to give you the freedom to implement the K-NN components. My only constraints are that you implement these functions:
<pre>
def euclidean_distance(vector1, vector2):  #euclidean distance between 2 vectors

def knn(row_index, table, k, columns, target):  #provide prediction for row given K-NN algorithm. Only use values in columns.

def knn_tester(table, k, columns, target): #produce predictions for every row in table according to columns. Return accuracy score. Danger: O(n**2).
</pre>

I am calling these "splitter" columns but that is a misnomer. Splitter has to do with decision trees. Should rename them at some point.

In [0]:
splitter_columns = [
        #Dependents
        'dep_0', 'dep_1', 'dep_2', 'dep_3+',
        #ApplicantIncome
       'ApplicantIncome', 'CoapplicantIncome',
        #Property_Area
        'pa_Rural', 'pa_Semiurban','pa_Urban',
        #LoanAmount
        'filled_lam',
        #Credit_History
        'ch_bad', 'ch_good']

In [0]:
target = 'Loan_Status'

In [0]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd
import operator

#row_index is the row we want to test
#table is 'loan_table'
#k is number of neighbors we take
#columns is 'splitter_columns'
#target is 'Loan_Status'
def euclidean_distance(vector1, vector2):
  return np.sqrt(sum([(a - b) ** 2 for a, b in zip(vector1, vector2)]))

def knn(row_index, table, columns, k, target):
  dist = []
  init_row = table[columns].values[row_index].tolist() #values instead of iloc
  for index, row in table.iterrows():
    if index == row_index:
      continue
    dist.append((index, euclidean_distance(init_row, row[columns].tolist())))
  dist.sort(key=operator.itemgetter(1))
  vote = []
  for (x, y) in dist[:k]:
    vote.append(table[target].values[x]) #same here
  return max(set(vote), key=vote.count)

def knn_tester(table, k, columns, target):
  all_votes = []
  for i in range(len(table)):
    pred = knn(i, table, columns, k, target)
    all_votes.append(pred)
  table['all_votes'] = all_votes
  table['vote_type'] = table.apply(lambda row: predictor_case(row, pred='all_votes', target=target), axis=1)
  p1_types = table['vote_type'].value_counts()
  return accuracy(p1_types)

<h2>Match my results</h2>

Start with single predictions.

In [15]:
#test with row 1, k=5
import time

start = time.time()
    
prediction_row0 = knn(1, loan_table,splitter_columns,5, target)        
print('prediction: ' + str(prediction_row0))  #actual is 0
end = time.time()
print('elapsed time: '+ str(end - start))  # in seconds

prediction: 1
elapsed time: 0.38669562339782715

In [16]:
#test with row 1, k=11

import time

start = time.time()
    
prediction_row0 = knn(1, loan_table,splitter_columns, 11, target)        
print('prediction: ' + str(prediction_row0))
end = time.time()
print('elapsed time: '+ str(end - start))  # in seconds

prediction: 1
elapsed time: 0.39823150634765625

<h2>Now to testing</h2>

knn_tester should use knn to make predictions for every row. Check predictions against target and compute and return accuracy.
<p>
All of my functions are nothing fancy. And it costs me about 2 minutes per run.

In [17]:
#k=5 (about 2 minutes on colab)

start = time.time()
    
the_accuracy = knn_tester(loan_table, 5, splitter_columns, target)        
print('accuracy: ' + str(the_accuracy))
end = time.time()
print('elapsed time: '+ str(end - start))  # in seconds

accuracy: 0.6302931596091205
elapsed time: 230.43174386024475

<h2>Not that great</h2>

Why so bad? Normally K-NN fails when there are too many features/columns in play. It relies on distances, and the more columns you add, the harder to discern distance differences. This is an example of the curse of dimensionality (jargon alert). It is kind of counter-intuitive: the more information (features/columns) you add, the worse you do. Here is an intro to the problem: http://www.visiondummy.com/2014/04/curse-dimensionality-affect-classification/. Let's reduce our columns and see if it makes any difference.

In [0]:
fewer_columns = [
        #ApplicantIncome
       'ApplicantIncome', 'CoapplicantIncome',
        #LoanAmount
        'filled_lam',
        #Credit_History
        'ch_bad', 'ch_good']

In [19]:
#k=5 (about 2 minutes on colab)

start = time.time()
    
the_accuracy = knn_tester(loan_table, 5, fewer_columns, target)        
print('accuracy: ' + str(the_accuracy))
end = time.time()
print('elapsed time: '+ str(end - start))  # in seconds

accuracy: 0.6302931596091205
elapsed time: 227.48288750648499

Exactly the same. Let's try some different values for k.

In [20]:
#k = 11, full columns
start = time.time()
    
the_accuracy = knn_tester(loan_table, 11, splitter_columns, target)        
print('accuracy: ' + str(the_accuracy))
end = time.time()
print('elapsed time: '+ str(end - start))  # in seconds

accuracy: 0.6628664495114006
elapsed time: 232.124009847641

Got a bit of improvement. One more.

In [21]:
#k = 3, full columns
start = time.time()
    
the_accuracy = knn_tester(loan_table, 3, splitter_columns, target)        
print('accuracy: ' + str(the_accuracy))
end = time.time()
print('elapsed time: '+ str(end - start))  # in seconds

accuracy: 0.6042345276872965
elapsed time: 233.64303064346313

Heading back down in accuracy. I'll stop here but will leave you with an extra credit assignment (optional).

<h2>Update your library</h2>

Name it `library_w19_week7.py`.

<h2>Extra Credit</h2>

Beat my testing times. You can use any of the pandas and numpy methods. As reminder, here were my times (approximately) using brute force approach:
<pre>
knn_tester(loan_table, 5, splitter_columns, target) : 107ish
knn_tester(loan_table, 5, fewer_columns, target) :  83ish
knn_tester(loan_table, 11, splitter_columns, target) : 108ish
knn_tester(loan_table, 3, splitter_columns, target) : 108ish
</pre>
<p>
  Here is a time I got by a fairly simple trick:
  <pre>
  knn_tester(loan_table, 3, splitter_columns, target) 
  accuracy: 0.6042345276872965
elapsed time: 4.287370681762695
</pre>
So from 108 to 4. Pretty dang good.