<h1>
<center>
Midterm 1
</center>
</h1>
<div class=h1_cell>

You will be working with a new table. It contains data from movies.
  <p>
Note I am trying something new to help you check your answers against mine. I am putting my answers into the text cell that introduces the question. Once you get your answer you can scroll up to see if matches my answer.
</div>

In [2]:
import pandas as pd
import os

url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTST3CURFkC0lHSfR9mGzBAvCmLWl06kw9NSBC3UuD9hA1SlPjh807BRxfnvhq5hrFyRz5ZCTGrs7fr/pub?output=csv'
movie_table = pd.read_csv(url)
len(movie_table)

5043

In [0]:
!rm library_w19_week4b.py

In [4]:
#load the lbirary from week 4
from google.colab import files
files.upload()

Saving library_w19_week4b.py to library_w19_week4b.py

{'library_w19_week4b.py': b'def predictor_case(row, pred, target):\r\n  case_dict = {(0,0): \'true_negative\', (1,1): \'true_positive\', (0,1): \'false_negative\', (1,0): \'false_positive\'}\r\n  actual = row[target]\r\n  prediction = row[pred]\r\n  case = case_dict[(prediction, actual)]\r\n  return case\r\n\r\ndef informedness(cases):\r\n\ttp = cases[\'true_positive\']\r\n\tfn = cases[\'false_negative\']\r\n\ttn = cases[\'true_negative\']\r\n\tfp = cases[\'false_positive\']\r\n\trecall = 1.0*tp/(tp+fn)\r\n\tspecificity = 1.0*tn/(tn+fp)\r\n\tJ = (recall + specificity) - 1\r\n\treturn J\r\n\r\ndef accuracy(cases):\r\n  tp = cases[\'true_positive\']\r\n  tn = cases[\'true_negative\']\r\n  fp = cases[\'false_positive\']\r\n  fn = cases[\'false_negative\']\r\n  return (tp + tn)/(tp+tn+fp+fn)\r\n\r\ndef f1(cases):\r\n\t\r\n\t#the heart of the matrix\r\n\ttp = cases[\'true_positive\']\r\n\tfn = cases[\'false_negative\']\r\n\ttn = cases[\'true_negative\']\r\n\tfp = cases[\'false_positive\']\r\n\t\r\n\t#other measures we can derive\r\n\trecall = 1.0*tp/(tp+fn)  # positive correct divided by total positive in the table\r\n\tprecision = 1.0*tp/(tp+fp) # positive correct divided by all positive predictions made\r\n\t\r\n\t#now for the one we want\r\n\tf1 = 2/(1/recall + 1/precision)\r\n\t\r\n\treturn f1\r\n\r\ndef gig(starting_table, split_column, target_column):\r\n    \r\n    #split into two branches, i.e., two sub-tables\r\n    true_table = starting_table.loc[starting_table[split_column] == 1]\r\n    false_table = starting_table.loc[starting_table[split_column] == 0]\r\n    \r\n    #Now see how the target column is divided up in each sub-table (and the starting table)\r\n    true_counts = true_table[target_column].value_counts()  # Note using true_table and not starting_table\r\n    false_counts = false_table[target_column].value_counts()  # Note using false_table and not starting_table\r\n    starting_counts = starting_table[target_column].value_counts() \r\n    \r\n    #compute the gini impurity for the 3 tables\r\n    starting_gini = gini(starting_counts)\r\n    true_gini = gini(true_counts)\r\n    false_gini = gini(false_counts)\r\n\r\n    #compute the weights\r\n    starting_size = len(starting_table.index)\r\n    true_weight = 0.0 if starting_size == 0 else len(true_table.index)/starting_size\r\n    false_weight = 0.0 if starting_size == 0 else len(false_table.index)/starting_size\r\n    \r\n    #wrap it up and put on a bow\r\n    gig = starting_gini - (true_weight * true_gini + false_weight * false_gini)\r\n    \r\n    return gig\r\n\r\ndef gini(counts):\r\n    (p0,p1) = probabilities(counts)\r\n    sum_probs = p0**2 + p1**2\r\n    gini = 1 - sum_probs\r\n    return gini\r\n\r\ndef probabilities(counts):\r\n    count_0 = 0 if 0 not in counts else counts[0]  #could have no 0 values\r\n    count_1 = 0 if 1 not in counts else counts[1]\r\n    total = count_0 + count_1\r\n    probs = (0,0) if total == 0 else (count_0/total, count_1/total)  #build 2-tuple\r\n    return probs\r\n\r\ndef build_pred(column, branch):\r\n    return lambda row: row[column] == branch\r\n\r\ndef find_best_splitter(table, choice_list, target):\r\n  \r\n    assert (len(table)>0),"Cannot split empty table"\r\n    assert (target in table),"Target must be column in table"\r\n    \r\n    gig_scores = map(lambda col: (col, gig(table, col, target)), choice_list)  #compute tuple (col, gig) for each column\r\n    gig_sorted = sorted(gig_scores, key=lambda item: item[1], reverse=True)  # sort on gig\r\n    return gig_sorted\r\n\r\nfrom functools import reduce\r\n\r\ndef generate_table(table, conjunction):\r\n  \r\n    assert (len(table)>0),"Cannot generate from empty table"\r\n\r\n    sub_table = reduce(lambda subtable, pair: subtable.loc[pair[1]], conjunction, table)\r\n    return sub_table\r\n\r\ndef compute_prediction(table, target):\r\n  \r\n    assert (len(table)>0),"Cannot predict from empty table"\r\n    assert (target in table),"Target must be column in table"\r\n    \r\n    counts = table[target].value_counts()  # counts looks like {0: v1, 1: v2}\r\n\r\n    if 0 not in counts:\r\n        prediction = 1\r\n    elif 1 not in counts:\r\n        prediction = 0\r\n    elif counts[1] > counts[0]:  # ties go to 0 (negative)\r\n        prediction = 1\r\n    else:\r\n        prediction = 0\r\n\r\n    return prediction\r\n\r\ndef build_tree_iter(table, choices, target, hypers={} ):\r\n\r\n    assert (len(choices)>0),"Must have at least one column in choices"\r\n    assert (target in table), "Target column not in table"\r\n    assert (len(table) > 1), "Table must have more than 1 row"\r\n    \r\n    k = hypers[\'max-depth\'] if \'max-depth\' in hypers else min(4, len(choices))\r\n    gig_cutoff = hypers[\'gig-cutoff\'] if \'gig-cutoff\' in hypers else 0.0\r\n    \r\n    def iterative_build(k):\r\n        columns_sorted = find_best_splitter(table, choices, target)\r\n        (best_column, gig_value) = columns_sorted[0]\r\n        \r\n        #Note I add _1 or _0 to make it more readable for debugging\r\n        current_paths = [{\'conjunction\': [(best_column, build_pred(best_column, 1))],\r\n                          \'prediction\': None,\r\n                          \'gig_score\': gig_value},\r\n                         {\'conjunction\': [(best_column, build_pred(best_column, 0))],\r\n                          \'prediction\': None,\r\n                          \'gig_score\': gig_value}\r\n                        ]\r\n        k -= 1  # we just built a level as seed so subtract 1 from k\r\n        tree_paths = []  # add completed paths here\r\n        \r\n        while k>0:\r\n            new_paths = []\r\n            for path in current_paths:\r\n                old_conjunction = path[\'conjunction\']  # a list of (name, lambda)\r\n                before_table = generate_table(table, old_conjunction)  #the subtable the current conjunct leads to\r\n                columns_sorted = find_best_splitter(before_table, choices, target)\r\n                (best_column, gig_value) = columns_sorted[0]\r\n                if gig_value > gig_cutoff:\r\n                    new_path_1 = {\'conjunction\': old_conjunction + [(best_column, build_pred(best_column, 1))],\r\n                                \'prediction\': None,\r\n                                 \'gig_score\': gig_value}\r\n                    new_paths.append( new_path_1 ) #true\r\n                    new_path_0 = {\'conjunction\': old_conjunction + [(best_column, build_pred(best_column, 0))],\r\n                                \'prediction\': None,\r\n                                 \'gig_score\': gig_value}\r\n                    new_paths.append( new_path_0 ) #false\r\n                else:\r\n                    #not worth splitting so complete the path with a prediction\r\n                    path[\'prediction\'] = compute_prediction(before_table, target)\r\n                    tree_paths.append(path)\r\n            #end for loop\r\n            \r\n            current_paths = new_paths\r\n            if current_paths != []:\r\n                k -= 1\r\n            else:\r\n                break  # nothing left to extend so have copied all paths to tree_paths\r\n        #end while loop\r\n\r\n        #Generate predictions for all paths that have None\r\n        for path in current_paths:\r\n            conjunction = path[\'conjunction\']\r\n            before_table = generate_table(table, conjunction)\r\n            path[\'prediction\'] = compute_prediction(before_table, target)\r\n            tree_paths.append(path)\r\n        return tree_paths\r\n\r\n    return {\'paths\': iterative_build(k), \'weight\': None}\r\n\r\ndef tree_predictor(row, tree):\r\n    \r\n    #go through each path, one by one (could use a map instead of for loop?)\r\n    for path in tree[\'paths\']:\r\n        conjuncts = path[\'conjunction\']\r\n        result = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\r\n        if all(result):\r\n            return path[\'prediction\']\r\n    raise LookupError(\'No true paths found for row: \' + str(row))\r\n\r\ndef path_id(row, tree):\r\n\tassert (len(tree[\'paths\']) > 0)\r\n\tfor path in tree[\'paths\']:\r\n\t\tconjuncts = path[\'conjunction\']\r\n\t\tresult = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\r\n\t\tif all(result):\r\n\t  \t\treturn tree[\'paths\'].index(path)\r\n\r\ndef reorder_paths(table, tree):\r\n\tpath_count = table.apply(lambda row: path_id(row, tree), axis = 1)\r\n\tvalue = path_count.value_counts()\r\n\tpath = sorted(value.items(), key=lambda x: x[1], reverse=True)\r\n\tprint(path)\r\n\tnew_paths = []\r\n\tprev_path = tree3[\'paths\']\r\n\tfor a, b in plist3:\r\n\t\tprev = prev_path[a]\r\n\t\tnew_paths.append(prev)\r\n\treturn new_paths\r\n\r\n'}

In [5]:
from library_w19_week4b import *
%who function

accuracy	 build_pred	 build_tree_iter	 compute_prediction	 f1	 find_best_splitter	 generate_table	 gig	 gini
informedness	 path_id	 predictor_case	 probabilities	 reorder_paths	 tree_predictor

<div class=h1_cell>

Roughly 5000 rows x 29 columns.

</div>

<div class=h1_cell>

Let's drop columns we will not be using in this practice midterm.

</div>

In [0]:
drop_list = [
     'director_name',
     'num_critic_for_reviews',
     'duration',
     'director_facebook_likes',
     'actor_3_facebook_likes',
     'actor_2_name',
     'actor_1_facebook_likes',
     'gross',
     'actor_1_name',
     'movie_title',
     'num_voted_users',
     'cast_total_facebook_likes',
     'actor_3_name',
     'facenumber_in_poster',
     'plot_keywords',
     'movie_imdb_link',
     'num_user_for_reviews',
     'language',
     'content_rating',
     'title_year',
     'actor_2_facebook_likes',
     'aspect_ratio',
     'movie_facebook_likes'
]

In [7]:
movie_table = movie_table.drop(drop_list, axis=1)
movie_table.head()

   color                           genres country       budget  imdb_score
0  Color  Action|Adventure|Fantasy|Sci-Fi     USA  237000000.0         7.9
1  Color         Action|Adventure|Fantasy     USA  300000000.0         7.1
2  Color        Action|Adventure|Thriller      UK  245000000.0         6.8
3  Color                  Action|Thriller     USA  250000000.0         8.5
4    NaN                      Documentary     NaN          NaN         7.1

In [0]:
pd.set_option('display.max_columns', None)

In [9]:
movie_table.describe(include='all')

        color genres country        budget   imdb_score
count    5024   5043    5038  4.551000e+03  5043.000000
unique      2    914      65           NaN          NaN
top     Color  Drama     USA           NaN          NaN
freq     4815    236    3807           NaN          NaN
mean      NaN    NaN     NaN  3.975262e+07     6.442138
std       NaN    NaN     NaN  2.061149e+08     1.125116
min       NaN    NaN     NaN  2.180000e+02     1.600000
25%       NaN    NaN     NaN  6.000000e+06     5.800000
50%       NaN    NaN     NaN  2.000000e+07     6.600000
75%       NaN    NaN     NaN  4.500000e+07     7.200000
max       NaN    NaN     NaN  1.221550e+10     9.500000

<hr>
<h1>
1: Produce new target column (10 points)
</h1>
<p>
<div class=h1_cell>
<p>
I'd like a new binary column that will act as our target. Call the new column `winner`. Set its value as follows:
if `imdb_score >= 7.5` the value is `1` else `0`.
<p>
</div>

<hr>
<center><h3>My output to use as target</h3></center>
<DIV ALIGN=RIGHT>
<img src='https://www.dropbox.com/s/zuqw01czvet00jv/q1.png?raw=1'>
  </div>
<hr>

In [0]:
#Your code here
movie_table['winner'] = movie_table.apply(lambda row: 1 if (row.imdb_score >= 7.5) else 0, axis=1)

In [11]:
movie_table.head()  #check your answer against above

,color,genres,country,budget,imdb_score,winner
0,Color,Action|Adventure|Fantasy|Sci-Fi,USA,237000000.0,7.9,1
1,Color,Action|Adventure|Fantasy,USA,300000000.0,7.1,0
2,Color,Action|Adventure|Thriller,UK,245000000.0,6.8,0
3,Color,Action|Thriller,USA,250000000.0,8.5,1
4,NaN,Documentary,NaN,NaN,7.1,0

<hr>
<h1>
2: Bin `budget` then one hot encode (20 points)
</h1>
<p>
<div class=h1_cell>
<p>
Use bins ['low', 'medium', 'high'].
<p>
  <b>Important</b>: produce equal sized bins in terms of rows in those bins. `qcut` will do this for you.
<p>
</div>

<hr>
<center><h3>My output to use as target</h3></center>
<DIV ALIGN=RIGHT>
<img src='https://www.dropbox.com/s/vr78cq4fo9z2tem/q2.png?raw=1'>
  </div>
<hr>

In [0]:
#your binning code here - remember the qcut
bins = 3
bin_names = ['low', 'medium', 'high']
movie_table['budget_bin'] = pd.qcut(movie_table['budget'], bins, labels=bin_names)

ohe_budget = pd.get_dummies(movie_table['budget_bin'], prefix='budget', dummy_na=True)
movie_table = movie_table.join(ohe_budget)

In [13]:
movie_table.head()  #check against above budget_bin column

,color,genres,country,budget,imdb_score,winner,budget_bin,budget_low,budget_medium,budget_high,budget_nan
0,Color,Action|Adventure|Fantasy|Sci-Fi,USA,237000000.0,7.9,1,high,0,0,1,0
1,Color,Action|Adventure|Fantasy,USA,300000000.0,7.1,0,high,0,0,1,0
2,Color,Action|Adventure|Thriller,UK,245000000.0,6.8,0,high,0,0,1,0
3,Color,Action|Thriller,USA,250000000.0,8.5,1,high,0,0,1,0
4,NaN,Documentary,NaN,NaN,7.1,0,NaN,0,0,0,1

Get value counts and compare with mine:
<pre>
low       1592
high      1508
medium    1451
</pre>

In [14]:
#compute value counts and compare with above

movie_table['budget_bin'].value_counts()

low       1592
high      1508
medium    1451
Name: budget_bin, dtype: int64

Now ohe the `budget_bin` column using `budget` as the prefix. Check against above.

In [0]:
#your code here

In [15]:
movie_table.head()  #check against above

,color,genres,country,budget,imdb_score,winner,budget_bin,budget_low,budget_medium,budget_high,budget_nan
0,Color,Action|Adventure|Fantasy|Sci-Fi,USA,237000000.0,7.9,1,high,0,0,1,0
1,Color,Action|Adventure|Fantasy,USA,300000000.0,7.1,0,high,0,0,1,0
2,Color,Action|Adventure|Thriller,UK,245000000.0,6.8,0,high,0,0,1,0
3,Color,Action|Thriller,USA,250000000.0,8.5,1,high,0,0,1,0
4,NaN,Documentary,NaN,NaN,7.1,0,NaN,0,0,0,1

<hr>
<h1>
3: Create a new column for thrillers (5 points)
</h1>
<p>
<div class=h1_cell>
<p>
Create a new colum `thriller`. Its value is 1 if the `genres` column contains the word Thriller else 0.
<p>
</div>

<hr>
<center><h3>My output to use as target</h3></center>
<DIV ALIGN=RIGHT>
<img src='https://www.dropbox.com/s/if2vpz0o1pa9bo6/q3.png?raw=1'>
  </div>
<hr>

In [0]:
#your code goes here
movie_table['thriller'] = movie_table.apply(lambda row: 1 if ('Thriller' in row.genres) else 0, axis=1)

In [17]:
movie_table.head()  #check against my answer

,color,genres,country,budget,imdb_score,winner,budget_bin,budget_low,budget_medium,budget_high,budget_nan,thriller
0,Color,Action|Adventure|Fantasy|Sci-Fi,USA,237000000.0,7.9,1,high,0,0,1,0,0
1,Color,Action|Adventure|Fantasy,USA,300000000.0,7.1,0,high,0,0,1,0,0
2,Color,Action|Adventure|Thriller,UK,245000000.0,6.8,0,high,0,0,1,0,1
3,Color,Action|Thriller,USA,250000000.0,8.5,1,high,0,0,1,0,1
4,NaN,Documentary,NaN,NaN,7.1,0,NaN,0,0,0,1,0

<hr>
<h1>
4: New column usa_made (5 points)
</h1>
<p>
<div class=h1_cell>
<p>
Create a new column `usa_made` that has 1 if the `country` column is USA and 0 otherwise.
<p>
</div>

<hr>
<center><h3>My output to use as target</h3></center>
<DIV ALIGN=RIGHT>
<img src='https://www.dropbox.com/s/jhhlwqbtkzoy09l/q4.png?raw=1'>
  </div>
<hr>

In [0]:
#your code goes here
movie_table['usa_made'] = movie_table.apply(lambda row: 1 if (row.country=='USA') else 0, axis=1)

In [19]:
movie_table.head() #check against my answer

,color,genres,country,budget,imdb_score,winner,budget_bin,budget_low,budget_medium,budget_high,budget_nan,thriller,usa_made
0,Color,Action|Adventure|Fantasy|Sci-Fi,USA,237000000.0,7.9,1,high,0,0,1,0,0,1
1,Color,Action|Adventure|Fantasy,USA,300000000.0,7.1,0,high,0,0,1,0,0,1
2,Color,Action|Adventure|Thriller,UK,245000000.0,6.8,0,high,0,0,1,0,1,0
3,Color,Action|Thriller,USA,250000000.0,8.5,1,high,0,0,1,0,1,1
4,NaN,Documentary,NaN,NaN,7.1,0,NaN,0,0,0,1,0,0

<hr>
<h1>
5: OHE `color` (10 points)
</h1>
<p>
<div class=h1_cell>
<p>
ohe the column `color` using `film_type` as the prefix.
<p>
</div>

<hr>
<center><h3>My output to use as target</h3></center>
<DIV ALIGN=RIGHT>
<img src='https://www.dropbox.com/s/td5k13eiwg4yw11/q5.png?raw=1'>
  </div>
<hr>

In [0]:
#your code here
ohe_color = pd.get_dummies(movie_table['color'], prefix='film_type', dummy_na=True)
movie_table = movie_table.join(ohe_color)

In [21]:
movie_table.head()  #check against above (only shows the last 3 columns)

,color,genres,country,budget,imdb_score,winner,budget_bin,budget_low,budget_medium,budget_high,budget_nan,thriller,usa_made,film_type_Black and White,film_type_Color,film_type_nan
0,Color,Action|Adventure|Fantasy|Sci-Fi,USA,237000000.0,7.9,1,high,0,0,1,0,0,1,0,1,0
1,Color,Action|Adventure|Fantasy,USA,300000000.0,7.1,0,high,0,0,1,0,0,1,0,1,0
2,Color,Action|Adventure|Thriller,UK,245000000.0,6.8,0,high,0,0,1,0,1,0,0,1,0
3,Color,Action|Thriller,USA,250000000.0,8.5,1,high,0,0,1,0,1,1,0,1,0
4,NaN,Documentary,NaN,NaN,7.1,0,NaN,0,0,0,1,0,0,0,0,1

<hr>
<h1>
6: Build a tree with depth 3 and default gig-cutoff (5 points)
</h1>
<p>
<div class=h1_cell>
<p>
Call your tree `tree1`. I'll give you the splitter column candidates to use below. Use `winner` as the target column.
<p>
</div>

<hr>
<center><h3>My output to use as target</h3></center>
<DIV ALIGN=RIGHT>
<img src='https://www.dropbox.com/s/ap24g3bpau2i10z/q6.png?raw=1'>
  </div>
<hr>

In [0]:
column_candidates = [
        'thriller',
        'budget_low', 'budget_medium', 'budget_high', 'budget_nan',
        'usa_made',
        'film_type_Color', 'film_type_Black and White', 'film_type_nan'
]

In [0]:
#your code here
tree1 = build_tree_iter(movie_table, column_candidates, 'winner', {'max-depth': 3})

In [24]:
print(len(tree1['paths']))  #check against my answer
tree1['paths']

8

[{'conjunction': [('film_type_Black and White',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('budget_low', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('thriller', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.005303667858896077,
  'prediction': 1},
 {'conjunction': [('film_type_Black and White',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('budget_low', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('thriller', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.005303667858896077,
  'prediction': 1},
 {'conjunction': [('film_type_Black and White',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('budget_low', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('usa_made', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019071756174530274,
  'prediction': 0},
 {'conjunction': [('film_type_Black and White',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('budget_low', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('usa_made', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019071756174530274,
  'prediction': 0},
 {'conjunction': [('film_type_Black and White',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('usa_made', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('budget_nan', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0010395942970248817,
  'prediction': 0},
 {'conjunction': [('film_type_Black and White',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('usa_made', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('budget_nan', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0010395942970248817,
  'prediction': 0},
 {'conjunction': [('film_type_Black and White',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('usa_made', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('thriller', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0045063979136308885,
  'prediction': 0},
 {'conjunction': [('film_type_Black and White',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('usa_made', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('thriller', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0045063979136308885,
  'prediction': 0}]

<hr>
<h1>
7: Compute scores for tree1 (5 points)
</h1>
<p>
<div class=h1_cell>
<p>
Print accuracy, f1 and informedness scores.
<p>
</div>

<hr>
<center><h3>My output to use as target</h3></center>
<DIV ALIGN=left>
<pre>
true_negative     4104
false_negative     827
true_positive       60
false_positive      52
(0.825698988697204, 0.12012012012012013, 0.055131712154931733)
</pre>
  </div>
<hr>

In [0]:
#your code here
movie_results = movie_table[['winner']].copy()
movie_results['tree_1'] = movie_table.apply(lambda row: tree_predictor(row, tree1), axis=1)
movie_results['tree_1_type'] = movie_results.apply(lambda row: predictor_case(row, pred='tree_1', target='winner'), axis=1)
tree_1_types = movie_results['tree_1_type'].value_counts()

In [26]:
tree_1_types  #check against above

true_negative     4104
false_negative     827
true_positive       60
false_positive      52
Name: tree_1_type, dtype: int64

In [27]:
print((accuracy(tree_1_types), f1(tree_1_types), informedness(tree_1_types))) # (0.825698988697204, 0.12012012012012013, 0.055131712154931733)

(0.825698988697204, 0.12012012012012013, 0.055131712154931733)

<hr>
<h1>
8. Do the same for tree2 (10 points)
</h1>
<p>
<div class=h1_cell>
<p>
Build a tree with depth of 4 and then print accuracy, f1 and informedness scores.
<p>
</div>

<hr>
<center><h3>My output to use as target</h3></center>
<DIV ALIGN=left>
<pre>
true_negative     4108
false_negative     826
true_positive       61
false_positive      48
(0.8266904620265715, 0.12248995983935741, 0.05722157177843146)
</pre>
  </div>
<hr>

In [0]:
#your code here for building tree2
tree2 = build_tree_iter(movie_table, column_candidates, 'winner', {'max-depth': 4})

In [29]:
print(len(tree2['paths']))  #should be 16
#tree2['paths']

16

In [0]:
#your code here for generating scores
movie_results = movie_table[['winner']].copy()
movie_results['tree_2'] = movie_table.apply(lambda row: tree_predictor(row, tree2), axis=1)
movie_results['tree_2_type'] = movie_results.apply(lambda row: predictor_case(row, pred='tree_2', target='winner'), axis=1)
tree_2_types = movie_results['tree_2_type'].value_counts()

In [31]:
tree_2_types  #check against above

true_negative     4108
false_negative     826
true_positive       61
false_positive      48
Name: tree_2_type, dtype: int64

In [32]:
print((accuracy(tree_2_types), f1(tree_2_types), informedness(tree_2_types))) #(0.8266904620265715, 0.12248995983935741, 0.05722157177843146)

(0.8266904620265715, 0.12248995983935741, 0.05722157177843146)

<hr>
<h1>
9: Write a function to find out how many times a column is used in a tree (30 points)
</h1>
<p>
<div class=h1_cell>
<p>
For a specific tree, which columns actually get used when building the tree? And how many times do they appear? Write a function `column_counts` that takes a tree in as input and produces a dictionary of columns that the tree uses as keys and how often as values. Test it on tree1 and tree2.
  <p>
    Note that this has nothing to do with a table. It is just an analysis of the structure of the tree.
<p>
Here are my results for tree1:
<p>
<pre>
{'budget_low': 4,
 'budget_nan': 2,
 'film_type_Black and White': 8,
 'thriller': 4,
 'usa_made': 6}
</pre>
<p>
</div>

In [32]:
movie_table.head()

,color,genres,country,budget,imdb_score,winner,budget_bin,budget_low,budget_medium,budget_high,budget_nan,thriller,usa_made,film_type_Black and White,film_type_Color,film_type_nan
0,Color,Action|Adventure|Fantasy|Sci-Fi,USA,237000000.0,7.9,1,high,0,0,1,0,0,1,0,1,0
1,Color,Action|Adventure|Fantasy,USA,300000000.0,7.1,0,high,0,0,1,0,0,1,0,1,0
2,Color,Action|Adventure|Thriller,UK,245000000.0,6.8,0,high,0,0,1,0,1,0,0,1,0
3,Color,Action|Thriller,USA,250000000.0,8.5,1,high,0,0,1,0,1,1,0,1,0
4,NaN,Documentary,NaN,NaN,7.1,0,NaN,0,0,0,1,0,0,0,0,1

In [35]:
print(tree1['paths'])

[{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7f1c6627fc80>), ('budget_low_1', <function build_pred.<locals>.<lambda> at 0x7f1c66199c80>), ('thriller_1', <function build_pred.<locals>.<lambda> at 0x7f1c6627f8c8>)], 'prediction': 1, 'gig_score': 0.005303667858896077}, {'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7f1c6627fc80>), ('budget_low_1', <function build_pred.<locals>.<lambda> at 0x7f1c66199c80>), ('thriller_0', <function build_pred.<locals>.<lambda> at 0x7f1c6627f9d8>)], 'prediction': 1, 'gig_score': 0.005303667858896077}, {'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7f1c6627fc80>), ('budget_low_0', <function build_pred.<locals>.<lambda> at 0x7f1c66199e18>), ('usa_made_1', <function build_pred.<locals>.<lambda> at 0x7f1c6627f6a8>)], 'prediction': 0, 'gig_score': 0.019071756174530274}, {'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7f1c6627fc80>), ('budget_low_0', <function build_pred.<locals>.<lambda> at 0x7f1c66199e18>), ('usa_made_0', <function build_pred.<locals>.<lambda> at 0x7f1c6627f400>)], 'prediction': 0, 'gig_score': 0.019071756174530274}, {'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7f1c6627fb70>), ('usa_made_1', <function build_pred.<locals>.<lambda> at 0x7f1c661998c8>), ('budget_nan_1', <function build_pred.<locals>.<lambda> at 0x7f1c6627fa60>)], 'prediction': 0, 'gig_score': 0.0010395942970248817}, {'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7f1c6627fb70>), ('usa_made_1', <function build_pred.<locals>.<lambda> at 0x7f1c661998c8>), ('budget_nan_0', <function build_pred.<locals>.<lambda> at 0x7f1c6627f950>)], 'prediction': 0, 'gig_score': 0.0010395942970248817}, {'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7f1c6627fb70>), ('usa_made_0', <function build_pred.<locals>.<lambda> at 0x7f1c66199840>), ('thriller_1', <function build_pred.<locals>.<lambda> at 0x7f1c667f18c8>)], 'prediction': 0, 'gig_score': 0.0045063979136308885}, {'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7f1c6627fb70>), ('usa_made_0', <function build_pred.<locals>.<lambda> at 0x7f1c66199840>), ('thriller_0', <function build_pred.<locals>.<lambda> at 0x7f1c667f1e18>)], 'prediction': 0, 'gig_score': 0.0045063979136308885}]

In [0]:
#define function here

def column_counts(tree):
  columns = []
  for path in tree['paths']:
    for i in range(len(path['conjunction'])):
      columns.append(path['conjunction'][i][0])
  d = {x:columns.count(x) for x in columns}
  return d

In [37]:
column_counts(tree1)  #check results against above

{'budget_low': 4,
 'budget_nan': 2,
 'film_type_Black and White': 8,
 'thriller': 4,
 'usa_made': 6}

<div class=h1_cell>

Here are my results for tree2:
<p>
<pre>
{'budget_high': 4,
 'budget_low': 8,
 'budget_nan': 6,
 'film_type_Black and White': 16,
 'thriller': 14,
 'usa_made': 16}
</pre>
<p>
</div>

In [38]:
column_counts(tree2)  #check against above

{'budget_high': 4,
 'budget_low': 8,
 'budget_nan': 6,
 'film_type_Black and White': 16,
 'thriller': 14,
 'usa_made': 16}

<hr>
<h1>
Extra credit: Find shortest path in tree
</h1>
<p>
<div class=h1_cell>
<p>
Write a function to find the shortest paths in a tree. If there is a unique shortest path then your list will just have one path. If there are ties, the list will include all that tied.
<p>
</div>

In [63]:
for path in tree2['paths']:
  print(path)

{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e400>), ('budget_low', <function build_pred.<locals>.<lambda> at 0x7feb2841c7b8>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb2841c598>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c048>)], 'prediction': 1, 'gig_score': 0.017777777777777892}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e400>), ('budget_low', <function build_pred.<locals>.<lambda> at 0x7feb2841c7b8>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb2841c598>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c158>)], 'prediction': 1, 'gig_score': 0.017777777777777892}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e400>), ('budget_low', <function build_pred.<locals>.<lambda> at 0x7feb2841c7b8>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb2841c730>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb28b0ed90>)], 'prediction': 1, 'gig_score': 0.0008603658346966747}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e400>), ('budget_low', <function build_pred.<locals>.<lambda> at 0x7feb2841c7b8>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb2841c730>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb28b0e950>)], 'prediction': 0, 'gig_score': 0.0008603658346966747}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e400>), ('budget_low', <function build_pred.<locals>.<lambda> at 0x7feb2841c950>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c8c8>), ('budget_nan', <function build_pred.<locals>.<lambda> at 0x7feb28b0e7b8>)], 'prediction': 0, 'gig_score': 0.01019408947010747}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e400>), ('budget_low', <function build_pred.<locals>.<lambda> at 0x7feb2841c950>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c8c8>), ('budget_nan', <function build_pred.<locals>.<lambda> at 0x7feb28b0ef28>)], 'prediction': 0, 'gig_score': 0.01019408947010747}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e400>), ('budget_low', <function build_pred.<locals>.<lambda> at 0x7feb2841c950>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c840>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb2841c0d0>)], 'prediction': 0, 'gig_score': 0.033333333333333326}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e400>), ('budget_low', <function build_pred.<locals>.<lambda> at 0x7feb2841c950>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c840>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb2841c268>)], 'prediction': 1, 'gig_score': 0.033333333333333326}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e048>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c620>), ('budget_nan', <function build_pred.<locals>.<lambda> at 0x7feb2841cf28>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb28520510>)], 'prediction': 0, 'gig_score': 0.002004739084370266}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e048>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c620>), ('budget_nan', <function build_pred.<locals>.<lambda> at 0x7feb2841cf28>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb285206a8>)], 'prediction': 0, 'gig_score': 0.002004739084370266}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e048>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c620>), ('budget_nan', <function build_pred.<locals>.<lambda> at 0x7feb2841cd08>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb2841c2f0>)], 'prediction': 0, 'gig_score': 0.000662384169017427}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e048>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c620>), ('budget_nan', <function build_pred.<locals>.<lambda> at 0x7feb2841cd08>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb2841c1e0>)], 'prediction': 0, 'gig_score': 0.000662384169017427}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e048>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c488>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb28b0e840>), ('budget_high', <function build_pred.<locals>.<lambda> at 0x7feb2841c400>)], 'prediction': 0, 'gig_score': 0.001324595704139786}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e048>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c488>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb28b0e840>), ('budget_high', <function build_pred.<locals>.<lambda> at 0x7feb2841c378>)], 'prediction': 0, 'gig_score': 0.001324595704139786}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e048>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c488>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb28b0e1e0>), ('budget_high', <function build_pred.<locals>.<lambda> at 0x7feb28520048>)], 'prediction': 0, 'gig_score': 0.0019809474496646495}
{'conjunction': [('film_type_Black and White', <function build_pred.<locals>.<lambda> at 0x7feb28b0e048>), ('usa_made', <function build_pred.<locals>.<lambda> at 0x7feb2841c488>), ('thriller', <function build_pred.<locals>.<lambda> at 0x7feb28b0e1e0>), ('budget_high', <function build_pred.<locals>.<lambda> at 0x7feb285201e0>)], 'prediction': 0, 'gig_score': 0.0019809474496646495}

In [0]:
#your function here

def list_of_shortest(tree):
  minimum = 3
  for path in tree['paths']:
    if len(path) < minimum:
       minimum = len(path)
  return

<hr>
<h1>
Here is some testing code
</h1>
<p>
<div class=h1_cell>
<p>
I am making a copy of tree1 then manipulating the first path, i.e., I am slicing it. I can slice it down to one predicate, 2 predicates, etc.
<p>
You can change the value of n from 1 to longest path. For each value of n run your function to make sure you get correct result.
<p>
</div>

In [0]:
import copy

def path_tester(tree, n):
  tree_test = copy.deepcopy(tree)
  slice = tree_test['paths'][0:n]  #slice
  tree_test['paths'] = slice
  print(('length of paths considered', len(slice)))
  return list_of_shortest(tree_test)

In [59]:
path_tester(tree1, 1)  #list of one path of length 3

('length of paths considered', 1)

{'conjunction': [('film_type_Black and White',
   <function library_w19_week4b.build_pred.<locals>.<lambda>>),
  ('budget_low', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
  ('thriller', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
 'gig_score': 0.005303667858896077,
 'prediction': 1}

In [60]:
path_tester(tree1, 2)  #list of 2 paths of length 3

('length of paths considered', 2)

{'conjunction': [('film_type_Black and White',
   <function library_w19_week4b.build_pred.<locals>.<lambda>>),
  ('budget_low', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
  ('thriller', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
 'gig_score': 0.005303667858896077,
 'prediction': 1}

In [61]:
path_tester(tree1, 3)  #list of 3 paths of length 3

('length of paths considered', 3)

{'conjunction': [('film_type_Black and White',
   <function library_w19_week4b.build_pred.<locals>.<lambda>>),
  ('budget_low', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
  ('thriller', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
 'gig_score': 0.005303667858896077,
 'prediction': 1}

In [62]:
path_tester(tree1, len(tree1['paths']))  #list of 8 paths of length 3

('length of paths considered', 8)

{'conjunction': [('film_type_Black and White',
   <function library_w19_week4b.build_pred.<locals>.<lambda>>),
  ('budget_low', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
  ('thriller', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
 'gig_score': 0.005303667858896077,
 'prediction': 1}