In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

irisData = pd.read_csv('https://classes.cs.uoregon.edu/18F/cis199ids/data/iris.csv')

In [3]:
irisData.shape
#rows, columns

(150, 6)

In [4]:
irisData.columns

Index(['Index', 'Sepal length', 'Sepal width', 'Petal length', 'Petal width',
       'Species'],
      dtype='object')

In [5]:
irisData.head()

   Index  Sepal length  Sepal width  Petal length  Petal width    Species
0      0           5.1          3.5           1.4          0.2  I. setosa
1      1           4.9          3.0           1.4          0.2  I. setosa
2      2           4.7          3.2           1.3          0.2  I. setosa
3      3           4.6          3.1           1.5          0.2  I. setosa
4      4           5.0          3.6           1.4          0.3  I. setosa

In [6]:
irisData.tail()

     Index  Sepal length  Sepal width  Petal length  Petal width       Species
145    145           6.7          3.0           5.2          2.3  I. virginica
146    146           6.3          2.5           5.0          1.9  I. virginica
147    147           6.5          3.0           5.2          2.0  I. virginica
148    148           6.2          3.4           5.4          2.3  I. virginica
149    149           5.9          3.0           5.1          1.8  I. virginica

In [7]:
irisData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Index           150 non-null int64
Sepal length    150 non-null float64
Sepal width     150 non-null float64
Petal length    150 non-null float64
Petal width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

In [9]:
irisData.sample(n=10)

,Index,Sepal length,Sepal width,Petal length,Petal width,Species
8,8,4.4,2.9,1.4,0.2,I. setosa
127,127,6.1,3.0,4.9,1.8,I. virginica
149,149,5.9,3.0,5.1,1.8,I. virginica
51,51,6.4,3.2,4.5,1.5,I. versicolor
72,72,6.3,2.5,4.9,1.5,I. versicolor
13,13,4.3,3.0,1.1,0.1,I. setosa
31,31,5.4,3.4,1.5,0.4,I. setosa
7,7,5.0,3.4,1.5,0.2,I. setosa
46,46,5.1,3.8,1.6,0.2,I. setosa
0,0,5.1,3.5,1.4,0.2,I. setosa

In [13]:
irisData["Species"].unique() #unique species in the table

array(['I.\xa0setosa', 'I.\xa0versicolor', 'I.\xa0virginica'],
      dtype=object)

In [17]:
irisData.isnull().sum()

Index           0
Sepal length    0
Sepal width     0
Petal length    0
Petal width     0
Species         0
dtype: int64