In [1]:
import pandas as pd
import numpy as np

In [6]:
friends = pd.DataFrame(
    [[0, 8, 10], [1, 6.5, 9], [3, 10, 9], [6.5, 7, 10], [8.3, 6, 7], [9, 7.4, 9.6], [5, 3, 6.8], [4, 1, 4], [2, 7.1, 8], [7, 7, 7]],
    index=["Jacob", "Ozzie", "Forrest", "Emmely", "Jesse", "Sophie", "Theo", "Jack", "Shane", "Cassidy"],
    columns=["Attitude", "Appetite", "Score"])
friends.head(10)

         Attitude  Appetite  Score
Jacob         0.0       8.0   10.0
Ozzie         1.0       6.5    9.0
Forrest       3.0      10.0    9.0
Emmely        6.5       7.0   10.0
Jesse         8.3       6.0    7.0
Sophie        9.0       7.4    9.6
Theo          5.0       3.0    6.8
Jack          4.0       1.0    4.0
Shane         2.0       7.1    8.0
Cassidy       7.0       7.0    7.0

In [7]:
friends2 = pd.DataFrame(
    {"Attitude": [0, 1, 3, 6.5, 8.3, 9, 5, 4, 2, 7],
     "Appetite": [8, 6.5, 10, 7, 6, 7.4, 3, 1, 7.1, 7],
     "Score": [10, 9, 9, 10, 7, 9.6, 6.8, 4, 8, 7]},
    index=["Jacob", "Ozzie", "Forrest", "Emmely", "Jesse", "Sophie", "Theo", "Jack", "Shane", "Cassidy"])
friends2.head(10)

         Attitude  Appetite  Score
Jacob         0.0       8.0   10.0
Ozzie         1.0       6.5    9.0
Forrest       3.0      10.0    9.0
Emmely        6.5       7.0   10.0
Jesse         8.3       6.0    7.0
Sophie        9.0       7.4    9.6
Theo          5.0       3.0    6.8
Jack          4.0       1.0    4.0
Shane         2.0       7.1    8.0
Cassidy       7.0       7.0    7.0

In [28]:
np.mean(friends[["Appetite"]])

Appetite    6.3
dtype: float64

In [10]:
friends.mean()

Attitude    4.58
Appetite    6.30
Score       8.04
dtype: float64

In [33]:
friends.loc["Emmely"]

Attitude     6.5
Appetite     7.0
Score       10.0
Name: Emmely, dtype: float64

In [32]:
friends.iloc[[3]]

        Attitude  Appetite  Score
Emmely       6.5       7.0   10.0

In [37]:
friends.loc[:, ["Appetite"]]

         Appetite
Jacob         8.0
Ozzie         6.5
Forrest      10.0
Emmely        7.0
Jesse         6.0
Sophie        7.4
Theo          3.0
Jack          1.0
Shane         7.1
Cassidy       7.0